
@font-face {font-family: "easemobim";
  src: url('iconfont.eot?t=1465807701'); /* IE9*/
  src: url('iconfont.eot?t=1465807701#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465807701') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465807701') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465807701#easemobim') format('svg'); /* iOS 4.1- */
}

.easemobim {
  font-family:"easemobim" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.easemobim-A:before { content: "\41"; }
.easemobim-B:before { content: "\42"; }
.easemobim-C:before { content: "\43"; }
.easemobim-D:before { content: "\44"; }
.easemobim-E:before { content: "\45"; }
.easemobim-F:before { content: "\46"; }
.easemobim-G:before { content: "\47"; }
.easemobim-H:before { content: "\48"; }
.easemobim-I:before { content: "\49"; }
.easemobim-K:before { content: "\4b"; }
.easemobim-J:before { content: "\4a"; }
.easemobim-L:before { content: "\4c"; }
.easemobim-M:before { content: "\4d"; }
.easemobim-x:before { content: "\78"; }
.easemobim-X:before { content: "\58"; }
.easemobim-O:before { content: "\4f"; }
.easemobim-N:before { content: "\4e"; }
.easemobim-1:before { content: "\31"; }
