
@font-face {font-family: "webplug-in";
  src: url('iconfont.eot?t=1499053657406'); /* IE9*/
  src: url('iconfont.eot?t=1499053657406#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499053657406') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499053657406') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499053657406#webplug-in') format('svg'); /* iOS 4.1- */
}

.webplug-in {
  font-family:"webplug-in" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.webplug-in-camera:before { content: "\63"; }

.webplug-in-change:before { content: "\64"; }

.webplug-in-zhuanrengong:before { content: "\77"; }

.webplug-in-A:before { content: "\32"; }

.webplug-in-colon:before { content: "\7b"; }

.webplug-in-parenleft:before { content: "\68"; }

.webplug-in-minimize:before { content: "\65"; }

.webplug-in-maximize:before { content: "\66"; }

.webplug-in-att_bg:before { content: "\41"; }

.webplug-in-att:before { content: "\42"; }

.webplug-in-close:before { content: "\43"; }

.webplug-in-face:before { content: "\44"; }

.webplug-in-logo:before { content: "\45"; }

.webplug-in-minisize:before { content: "\46"; }

.webplug-in-right:before { content: "\47"; }

.webplug-in-star:before { content: "\48"; }

.webplug-in-break:before { content: "\49"; }

.webplug-in-triangle_left:before { content: "\4b"; }

.webplug-in-triangle_right:before { content: "\4a"; }

.webplug-in-image:before { content: "\4c"; }

.webplug-in-tips:before { content: "\4d"; }

.webplug-in-soundon:before { content: "\78"; }

.webplug-in-soundoff:before { content: "\58"; }

.webplug-in-adjunct:before { content: "\76"; }

.webplug-in-sound:before { content: "\67"; }

.webplug-in-keyboard_down:before { content: "\4f"; }

.webplug-in-keyboard_up:before { content: "\4e"; }

.webplug-in-wallet:before { content: "\e600"; }

.webplug-in-redbag2:before { content: "\e601"; }

.webplug-in-location:before { content: "\e602"; }

.webplug-in-file:before { content: "\e603"; }

.webplug-in-redbag:before { content: "\e604"; }

.webplug-in-leave:before { content: "\72"; }

.webplug-in-busy:before { content: "\71"; }

.webplug-in-hiding:before { content: "\70"; }

.webplug-in-answer:before { content: "\61"; }

.webplug-in-decline:before { content: "\62"; }

.webplug-in-Comment:before { content: "\31"; }

.webplug-in-video:before { content: "\74"; }

.webplug-in-download:before { content: "\75"; }

.webplug-in-rengongkefu:before { content: "\79"; }

.webplug-in-list-1:before { content: "\7a"; }

.webplug-in-ii:before { content: "\69"; }

