dist: trusty
language: node_js
node_js: node
env:
  global:
    - secure: zP5Surp70BQR4JIwVG8jujlImRqHUErf4S6Ub3ZLCI7PC/1F5mzGANhCkoPIheYpGJ+fu/Tj3Fyjyqh9pAQzXXjGCnJUKtYngkyVgPBAdx3+zbWk2xSllOntjn2Q2Vze41UiEv2XIxRiJ1paWU/rT8R3RTyQlx+5NQL5sT4ZGLYUse0aEszOokRG9bNOezGzh/qtBqwG12+kSIlTK8il/cFftj7YKNzlG9cLLvJ2I/2CU+QtWnhJRLB/IM3OC5WIN5Cvj22ayw7ULf4JgVzWnLCGe1Y6oTUckOXjDFlVB9qVkK3215NVgEYJpQfumBjFRR9wrpGlJEbgqUa8D/Vd8ZX83JJBGUni9/ukSbZr9Ts8nOzD60if4ZbUnI9vqzFvMroNZZ999ZxOlx5eiLNB0eJCMPpa4AtrtqCUMRNKWFem71Rq7wz9DrnbFCEYx/RNVPdGAaWjCPPemaWswvD6aTbVa040bvRGBB+P7+Axp15QqZkxFtn80xUzon8kC1T3zbUcx+tt7My3JrM+l6hZgn9IkMGR0FrtfU2LT1+usxhB439QgmoFaL/olbECwtCY0Qzav+WW/GMSaRhlD9pvshsnlIFiOaMBCh/U8PVDwjj/V3XaMu8UJu3JjkLvwkW3XWvzKnQtxmtkI6BxPOHR/NfGTZR6WXDgmlL/ZNqwL4I=
    - secure: toy4B0TuZ1pwxuUAx13R333rh9bcAmyBEGc3vg6ASDx2rGU+/WTdFErfCWWOWkloCz4rJUiwwwxC5Y4xJZ5qmuMMqYUHiHpmg0Cj3IFkXn/9C4l6TCAOazRmaKlWP3ac03nvyl0FYKEyy7TaNeBfT59ofNpvl92I0i/fNX+Ix9falAUsubqdoV+hKazHSpQp/I6bOheTykxS5XiHFqW2qNNdIOh51w/e0a4IIyATT98s6xypDYXvjfkWqIDohFB1qaAXnNgJ7ugTBitFQ2gOtGtdcxpS+DHeyBrUTIquAJvlTXJqM5x1LwkSjvt6fGWhA3hYA+ZkhzF8ekxp3u4V2Q3Vm7H61mv0QJm5BaR9UHd3B/CaVDNGlZEUgQC7yKGMvgJCVDwNGJglA6X6fQ741xMXdf/9xdP91ImLDTlDQmZJvfjdksO409gZ30NBK8c6k8y2GS3xZhVcz+ZyqJfyQwitkhgtKoYeBvDwfr4Va2+qH1Q0zW7ZWxvkcDWErzVs0opq87QnOuFjkE/GCTDkw/nq2d2Po0z9iFt4KmebP49yDGV4nHs9eBmvqzcOg/PDZyd2TjFAeqHEijJenEvhkU/U/ViPbOEa8oXyQJ9fDEYKs49oXfVrXjuTduhIe18lj7eYSEw0tuiW2xFKhRltlGFbsgZzrY4/z1RJcnWgpHI=
    - secure: iAGC2uvoZQDaCtVrCwQoOi8hkq6nk3UCzbo1Iq70dBI7mX3HXiWbjuoKuVLPgDArpZ9tu0BVO2S3SezmH3OIwqDowch77+od9ELqv70bm+EldHT9q8ydTBdBBhrDYuhw94jLTQ22kHigvcM4tfONCXykHkMsf30m5dxu/NJ4j7zuNStBdsa/ClWp/xYMCTgsaiWSD/tLPHVEBdgGsznf8uH+M+qNZSujZI0eS4Dp8xzV5mk9CGIbjCau78RnzoVDtytnzotO0JeYqw51rF7getU7saIIAiEZhhaAFwS6LA67S3tJpa/+eYnzacAKKmt6GucYG2Tp0078BeOQrhxL97QQhWpeMr2n1nKp8Tllw7qXYgkbuXwRFzTHMQKaC0qf+NmMugG0iwwITzEf0PU3bFxEW52iec60Wml1CqwuvvWXhGF0oDwDlHFWckF7XNUMXzRauf3hr4LMW/bnpKf2rXHEcWoLfvvaOW4aluOoJx2mQjWu74iiqGob+Wy6+aHFO1sdSO3/CPGPtfFiIPIWLHD/RmGpLPZyh6Jyl5/cu1RT6GLvZDjKGpUvCXZq45bWma2kjUotf0VLr/004fs3I5NRy4tRZNh1VhqxzYudAAfgETTaEW+767lsXrvdDYqYJgqr9RKrF6CLuHBdIu9LE0hfwtPxift3iSInb2KWFC8=

install:
  - npm install
jobs:
  include:
    - stage: "step1"
      name: "packing"
      script: ./travis/pack.sh
      if: tag =~ /^plugin_\d+\.\d+\.\d+\_final$/
      deploy:
        skip_cleanup: true
        provider: script
        script: ./travis/upload.sh
        on:
          tags: true

cache:
  directories:
    - node_moduels
