.easemobWebimKefu-title {
    text-align: center;
}
.easemobWebimKefu-title-func,
.easemobWebimKefu-title-icon {
    display: none;
}
.easemobWebimKefu-return {
    display: block;
    position: absolute;
    width: 40px;
    height: 28px;
    background: #fff;
    border-radius: 5px;
    top: 50%;
    left: 20px;
    margin-top: -14px;
    text-align: center;
    line-height: 28px;
    color: #00A0CB;
}
.easemobWebimKefu-return:before {
    position: absolute;
    content: " ";
    border: transparent 14px solid;
    border-width: 13px 8px;
    top: 1px;
    left: -16px;
    height: 0;
    width: 0;
}
.easemobWebimKefu-return:after {
    position: absolute;
    content: " ";
    border: transparent 13px solid;
    border-width: 12px 8px;
    border-right-color: #fff;
    top: 2px;
    left: -15px;
    height: 0;
    width: 0;
}
.easemobWebimKefu-title-name {
    color: #fff;
    font-size: 20px;
}
.easemobWebimKefu-title {
    background-color: #00A0CB;
}
