<div id="em-article-container">
	<div class="em-article-body ios-scroll">
		<div id="em-article-close">
			<span class="icon-back back-chat">返回会话窗</span>
			<span class="icon-back new-message hide">未读消息<span class="news"></span></span>
		</div>
		<!-- <iframe></iframe> -->
	</div>
</div>
<!-- 最小化时显示的按钮 -->
<div id="em-widgetPopBar" class="hide">
	<a class="em-widget-pop-bar bg-color icon-easemob" href="javascript:;"><%=contact_agent%></a>
</div>

<div class="em-widget-box hide">
	<!-- 下部弹窗 -->
	<div class="em-model chat-pop-em-model hide">
		<div class="chat-pop">
			<i class="icon-close tip-close"></i>
			<iframe id="chat-pop" src="" frameborder="0"></iframe>
		</div>
	</div>
	<!-- 标题栏 -->
	<div class="em-widget-header bg-color border-color">
		<!-- 用于拖动的浮层 -->
		<p class="drag-bar" unselectable="on" onselectstart="return false;" style="-moz-user-select:none;"></p>

		<div class="status-bar">
			<!-- 会话列表按钮 -->
			<span class="session-list-btn icon-list hide">
				<span class="icon-circle notice hide"></span>
			</span>

			<!-- 坐席昵称 -->
			<img src="/webim/static/img/default_avatar.png" alt="" class="em-agent-face hide">
			<span class="em-widget-header-nickname"></span>

			<!-- 坐席状态 -->
			<span class="em-header-status-text"></span>

			<!-- 坐席输入状态 -->
			<span class="em-agent-input-state hide"><%=agent_is_typing%></span>
		</div>
		<!-- 关闭按钮 -->
		<i title="<%=close%>" class="icon-close btn-close border-color bg-hover-color-light hide"></i>

		<!-- 最小化按钮 -->
		<i title="<%=close%>" class="icon-min btn-min border-color bg-hover-color-light hide"></i>

		<!-- 静音开关 -->
		<i class="icon-bell btn-audio hide"></i>

		<!-- 输入框位置切换按钮 -->
		<i class="btn-keyboard icon-keyboard-up hide"></i>
	</div>

	<div class="em-widget-content-box">
		<!-- UI -->
		<div id="em-kefu-webim-chat" class="em-widget-wrapper hide">
			<div class="em-widget-risk-warning">
				<div>
					<div class="contentDom">
						<img src="/webim/static/img/tip.png" alt="">
						<span class="content">交易风险提醒：该系统是测试环境，尚未开通正式业务，涉及付款等交易请谨慎！</span>
						<i class="icon-close btn-audio"></i>
					</div>
				</div>
			</div>

			<!-- 信息栏 -->
			<div class="em-widget-tip">
				<div>
					<div class="contentDom">
						<img src="/webim/static/img/tip.png" alt="">
						<span class="content"></span>
						<i class="icon-close tip-close"></i>
					</div>
				</div>
			</div>

			<!-- 消息容器 -->
			<div class="chat-wrapper">
				<!-- 广告条 -->
				<div class="em-widget-tenant-logo hide">
					<img>
				</div>

				<!-- <div class="chat-container"></div> -->
			</div>
			<!-- 输入框上方快捷按钮 -->


			<!-- 输入框 -->
			<div class="em-widget-send-wrapper">
				<div class="em-widget-send-wrapper-top hide">
					<div class="swiper-button-prev height-btn swiper-button-black"></div>
					
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide em-widget-exit-video hide">取消视频通话</div>
							<div class="swiper-slide em-widget-to-kefu-input-button hide"><%=transfer_to_kefu%> </div>
							<!-- <span class="fg-color em-widget-to-kefu hide">
								<i class="icon-transform"></i>
								<span><%=transfer_to_kefu%></span>
							</span> -->
						</div>
					</div>
					
					<div class="swiper-button-next height-btn swiper-button-black"></div>
				</div>
				<!-- 待接入人数状态 -->
				<div class="queuing-number-status hide"><%=current_queue_number%><label></label></div>

				<!-- 工具栏 -->
				<div class="toolbar toolbar-pc">
					<i class="em-bar-emoji icon-face e-face fg-hover-color" title="<%=emoji%>"></i>
					<i class="em-widget-img icon-picture fg-hover-color hide" title="<%=picture%>"></i>
					<i class="em-widget-file icon-attachment fg-hover-color hide" title="<%=attachment%>"></i>
					<!-- 发送视频按钮 -->
					<i class="em-widget-video icon-sendvideo fg-hover-color hide" title="<%=send_video%>"></i>
					<i class="em-widget-note icon-note fg-hover-color hide" title="<%=ticket%>"></i>

					<i class="icon-video fg-hover-color em-video-invite hide" title="<%=video_invite%>"></i>
					<i class="icon-flower fg-hover-color em-widget-satisfaction hide" title="<%=evaluate_agent%>"></i>
				</div>

				<!-- 文件输入 -->
				<input type="file" class="upload-file-container">
				<!-- 图片输入 -->
				<input type="file" class="upload-img-container" accept="image/jpg,image/gif,image/jpeg,image/png">
				<!-- 小视频输入 -->
				<input type="file" class="upload-video-container" accept="video/*">
				<div class="input-box">
					<span class="fg-color em-widget-to-kefu hide">
						<i class="icon-transform"></i>
						<span><%=transfer_to_kefu%></span>
					</span>
					<textarea class="em-widget-textarea" spellcheck="false" placeholder="<%=input_placeholder%>"></textarea>
					<span class="em-widget-send bg-color disabled"><%=connecting%></span>
					<i class="em-bar-emoji icon-face e-face fg-hover-color" title="<%=emoji%>"></i>
					<span class="em-widget-add"><i class="icon-add"></i></span>
				</div>
				<!-- 工具栏 -->
				<div class="toolbar toolbar-mobile hide">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="em-widget-img hide">
								<div class="btn-container"><i class="icon-picture-new" title="<%=picture%>"></i></div>
								<span><%=picture%></span>
							</div>
							<div class="em-widget-file hide">
								<div class="btn-container"><i class="icon-attachment-new" title="<%=attachment%>"></i></div>
								<span><%=attachment%></span> 
							</div>
							<div class="em-widget-video hide ">
								<div class="btn-container"><i class="icon-sendvideo-new" title="<%=send_video%>"></i></div>
								<span><%=send_video%></span>
							</div>
							<div class="em-widget-note hide ">
								<div class="btn-container"><i class="icon-note-new" title="<%=ticket%>"></i></div>
								<span><%=ticket%></span>
							</div>
							<div class="em-video-invite hide ">
								<div class="btn-container"><i class="icon-video-new" title="<%=video_invite%>"></i></div>
								<span><%=video_invite%></span>
							</div>
							<div class="em-widget-satisfaction hide ">
								<div class="btn-container"><i class="icon-flower-new" title="<%=evaluate_agent%>"></i></div>
								<span><%=evaluate_agent%></span>  
							</div>
						</div>
					</div>

					<div class="swiper-pagination" slot="pagination"></div>
				</div>
			</div>



			<!-- 信息提示框 -->
			<div class="em-widget-error-prompt hide">
				<span></span>
			</div>

			<!-- 图片查看 -->
			<div class="img-view hide">
				<img>
				<span class="ios-load hide"><span><%=press_save_img%></span></span>
				<a class="android-load hide icon-download" download></a>

			</div>
			<div class="em-kefu-webim-note hide">
				<div class="note-top">
					<i class="icon-close"></i>
				</div>
			</div>
		</div>

		<!-- 移动端已兼容 -->
		<div id="em-kefu-webim-self" class="em-self-wrapper">
		</div>

	</div>
</div>

<div class="auth-box-PC hide">
	<div>
		<img src="/webim/static/img/u1447.png" alt="">
		<span></span>
	</div>
</div>
<div class="auth-box-H5 hide">
	<div>
		<img src="/webim/static/img/u1447.png" alt="">
		<div>
			<span class="is-auth"></span>
			<span>咨询通道暂不可用</span>
		</div>
	</div>
</div>
<div class="em-video-container hide">
	<span class="video-container-close"><i class="icon-close"></i></span>
	<div class="full-video-box"></div>
</div>





