<div id="em-article-container">
	<div class="em-article-body ios-scroll">
		<div id="em-article-close">
			<span class="icon-back">返回会话窗</span>
		</div>
		<!-- <iframe></iframe> -->
	</div>
</div>
<!-- 最小化时显示的按钮 -->
<div id="em-widgetPopBar" class="hide">
	<a class="em-widget-pop-bar bg-color icon-easemob" href="javascript:;"><%=contact_agent%></a>
</div>

<!-- UI -->
<div id="em-kefu-webim-chat" class="em-widget-wrapper hide">

	<!-- 标题栏 -->
	<div class="em-widget-header bg-color border-color">
		<!-- 用于拖动的浮层 -->
		<p class="drag-bar"></p>

		<div class="status-bar">
			<!-- 会话列表按钮 -->
			<span class="session-list-btn icon-list hide">
				<span class="icon-circle notice hide"></span>
			</span>

			<!-- 坐席昵称 -->
			<span class="em-widget-header-nickname"></span>

			<!-- 坐席状态 -->
			<span class="em-header-status-text"></span>

			<!-- 坐席输入状态 -->
			<span class="em-agent-input-state hide"><%=agent_is_typing%></span>
		</div>

		<!-- 最小化按钮 -->
		<i title="<%=close%>" class="icon-min btn-min border-color bg-hover-color-light hide"></i>

		<!-- 静音开关 -->
		<i class="icon-bell btn-audio hide"></i>

		<!-- 输入框位置切换按钮 -->
		<i class="btn-keyboard icon-keyboard-up hide"></i>
	</div>

	<!-- 信息栏 -->
	<div class="em-widget-tip">
		<span class="content"></span>
		<i class="icon-close tip-close"></i>
	</div>

	<!-- 消息容器 -->
	<div class="chat-wrapper">
		<!-- 广告条 -->
		<div class="em-widget-tenant-logo hide">
			<img>
		</div>
		<!-- <div class="chat-container"></div> -->
	</div>

	<!-- 输入框 -->
	<div class="em-widget-send-wrapper">

		<!-- 待接入人数状态 -->
		<div class="queuing-number-status hide"><%=current_queue_number%><label></label></div>

		<!-- 工具栏 -->
		<div class="toolbar">
			<i class="em-bar-emoji icon-face e-face fg-hover-color" title="<%=emoji%>"></i>
			<i class="em-widget-img icon-picture fg-hover-color hide" title="<%=picture%>"></i>
			<i class="em-widget-file icon-attachment fg-hover-color hide" title="<%=attachment%>"></i>
			<i class="em-widget-note icon-note fg-hover-color hide" title="<%=ticket%>"></i>
			<i class="icon-video fg-hover-color em-video-invite hide" title="<%=video_invite%>"></i>
			<i class="icon-flower fg-hover-color em-widget-satisfaction hide" title="<%=evaluate_agent%>"></i>
			<i class="icon-headset fg-hover-color em-widget-to-kefu hide" title="<%=transfer_to_kefu%>"></i>
		</div>

		<!-- 文件输入 -->
		<input type="file" class="upload-file-container">
		<!-- 图片输入 -->
		<input type="file" class="upload-img-container" accept="image/jpg,image/gif,image/jpeg,image/png">

		<textarea class="em-widget-textarea" spellcheck="false" placeholder="<%=input_placeholder%>"></textarea>
		<span class="em-widget-send bg-color disabled"><%=connecting%></span>
	</div>

	<!-- 信息提示框 -->
	<div class="em-widget-error-prompt hide">
		<span></span>
	</div>

	<!-- 图片查看 -->
	<div class="img-view hide">
		<img>
		<span class="ios-load hide"><span><%=press_save_img%></span></span>
		<a class="android-load hide" download><span class="icon-download"></span></a>

	</div>
</div>
