<div class="video-chat-wrapper">
	<div class="status-bar hide">
		<p class="status-text"></p>
		<p class="time-escape"></p>
		<div class="control-panel">
			<i class="accept-button icon-answer"></i>
			<i class="end-button icon-decline"></i>
		</div>
		<i class="collapse-toggle-button icon-arrow-right"></i>
	</div>
	<div class="video-panel hide">
		<div class="multi-video-container"></div>
		<div class="single-video-container hide">
			<video autoplay playsinline class="main-video"></video>
			<video autoplay playsinline class="no-audio-video hide"></video>
			<p class="nickname"></p>
			<div class="control-panel">
				<i class="return-to-multi-video icon-return-to-multi-video"></i>

				<i class="navigate-to-independent-window-btn icon-maximize-window hide"></i>
				<i class="toggle-microphone-btn icon-microphone"></i>
				<i class="toggle-carema-btn icon-camera"></i>
			</div>
		</div>
	</div>
</div>
