<div class="video-chat-wrapper">
	<div class="status-bar hide">
		<div>
			<span class="status-text"></span>
			<span class="time-escape"></span>
		</div>
		<div class="control-panel">
			<i class="accept-button icon-answer hide"></i>
			<i class="end-button icon-decline"></i>
		</div>
		<i class="collapse-toggle-button icon-arrow-right"></i>
	</div>
	<div class="video-panel hide">
		<div class="multi-video-container"></div>
		<div class="single-video-container hide">
			<video autoplay playsinline class="main-video"></video>
			<video autoplay playsinline class="no-audio-video hide"></video>
			<p class="nickname"></p>
			<div class="control-panel">
				<i class="return-to-multi-video icon-return-to-multi-video"></i>
				<i class="toggle-full-screen-btn hide icon-fullscreen"></i>
				<i class="toggle-microphone-btn icon-microphone"></i>
				<i class="toggle-carema-btn icon-camera"></i>
			</div>
		</div>
	</div>
	<div id="main-video-argo">
		<div class="mini-video-argo hide">
			<div id="mini-video-agent0" class="mini-video-agent"></div>
			<div id="mini-video-visitor"></div>
			<div id="mini-video-agent1" class="mini-video-agent"></div>
		</div>

		<div class="big-video-argo hide">
			<div id="big-video-argo">
				<i class="return-to-multi-video icon-return-to-multi-video"></i>
				<i class="toggle-full-screen-btn hide icon-fullscreen"></i>
				<i class="toggle-microphone-btn icon-microphone hide"></i>
				<i class="toggle-carema-btn icon-camera hide"></i>
			</div>
		</div>
	</div>
</div>
