<div class="video-agora-wrapper hide">
	<span class="bart"></span>
	<span class="barb"></span>
	<span class="barr"></span>
	<span class="barl"></span>
	<span class="bar"></span>
	<div class="top">
		<div class="status-bar hide">
			<div>
				<span class="status-text"></span>
				<span class="time-escape"></span>
			</div>
			<div class="control-panel">
				<i class="accept-button icon-answer hide"></i>
				<i class="end-button icon-decline"></i>
			</div>
			<!-- <i class="collapse-toggle-button icon-arrow-right"></i> -->
			<i class="icon-narrow"></i>
			<i class="icon-enlarge toggle-enlarge"></i>
		</div>
	</div>

	<div class="video-contener">
		<div class="mini-wraper">
			<div id="visitor-video" class="mini-video visitor-video">
				<span class="small-name"></span>
				<i class="toggle-microphone-state icon-microphone-enable hide"></i>
			</div>
			<div id="agent-video" class="mini-video agent-video">
				<span class="small-name"></span>
				<i class="toggle-microphone-state icon-microphone-enable hide"></i>
			</div>
		</div>
		<div id="big-video" class="big-video"></div>
	</div>
	<div class="nickNameWraper">
		<i class="toggle-microphone-state icon-microphone-enable hide"></i>
		<div class="nickName"></div>
	</div>

	<div class="foot">
		<i class="toggle-microphone-btn-agora icon-microphone-agora"></i>
		<i class="toggle-carema-btn-agora icon-camera-agora"></i>
		<i class="desktop-share-agora icon-desktop-agora"></i>
		<i class="toggle-white-board-agora  icon-white-board"></i>
		<i class="toggle-huang-agora  icon-huang-agora"></i>
	</div>
</div>
