* {
	margin: 0;
	padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: 'Microsoft YaHei', 'Arial';
    background-color: #fff;
}
a {
    color: #009EEC;
}
ul, li {
    list-style: none;
}
img {
    border: none;
}
.easemobWidget-pop-bar i,
.easemobWidget-msgcount,
.easemobWidget-left-corner,
.easemobWidget-right-corner,
.easemobWidget-left .easemobWidget-msg-voice,
.easemobWidget-msg-status i,
.easemobWidget-face,
.easemobWidget-file {
    background: url(base.png) no-repeat;
}
.hide,
.easemobWidgetWrapper .hide {
    display: none;
}
#easemobWidgetPopBar {
    position: fixed;
    top: 7px;
    left: 0;
}
.easemobWidget-pop-bar {
    display: block;
    color: #fff;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-decoration: none;
    font-size: 13px;
}
.easemobWidget-pop-bar:hover i {
    background-position: -33px -31px;
}
.easemobWidget-pop-bar i {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 30px;
    background-position: -33px -1px;
    margin-left: 3px;
    margin-right: 2px;
}
.easemobWidgetWrapper {
    width: 100%;
    height: 100%;
}
/*header*/
.easemobWidgetHeader-wrapper {
    height: 41px;
    line-height: 41px;
    font-family: 'Microsoft YaHei';
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 1px rgba(255,255,255,.3) inset;
}
.easemobWidget-msgcount {
    background-position: -4px -5px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -7px;
    top: -7px;
    line-height: 17px;
    color: #fff;
    text-align: center;
}
.easemobWidget-msgcount.mutiCount {
    background-position: -4px -30px;
    width: 22px;
    height: 17px;
    font-size: 20px;
    line-height: 5px;
}
.easemobWidgetHeader-bar {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 5.5px;
}
.easemobWidgetHeader-bar.online i{
    background-color: #00FF00;
}
.easemobWidgetHeader-bar.offline i{
    background-color: #E6E6E6;
}
.easemobWidgetHeader-bar.offline img {
    -webkit-filter: grayscale(1);
    filter: gray;   
}
.easemobWidgetHeader-portrait {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #1aa1e4;
}
.easemobWidgetHeader-status {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    bottom: -1px;
    right: -1px;
    box-shadow: 0 1px 1px #aaa;
}
.easemobWidgetHeader-nickname {
    margin-left: 50px;
    color: #fff;
}
.easemobWidgetHeader-word-status {
    margin-left: 4px;
    color: rgba(255,255,255,.7);
}
.easemobWidgetHeader-min {
    position: absolute;
    right: 9px;
    top: 10px;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    text-align: center;
    line-height: 23px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(255,255,255,.3) inset;
}
.easemobWidgetHeader-min p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    margin-top: -1px;
    height: 2px;
    background-color: #fff;
    *font-size: 1px;
}
#easemobWidgetFileInput {
    visibility: hidden;
    position: absolute;
    left: -10000px;
}
/*body*/
.easemobWidgetBody-wrapper {
    overflow-y: auto;
    position: absolute;
    top: 90px;
    bottom: 140px;
    background-color: #F4F7FA;
    width: 100%;
    border-bottom: 1px solid #E5E9F3;
    padding: 0 0 20px 0;
    color: #1a1a1a;
    overflow-x: hidden;
    transition: top .3s;
}
.easemobWidget-word {
    z-index: 2;
    position: absolute;
    top: 43px;
    width: 100%;
    height: 48px;
    color: #535252;
    background-color: #FFECD5;
    border: 1px solid #ECD0B5;
    *border: none;
    box-sizing: border-box;
    line-height: 44px;
}
.easemobWidget-word span {
    width: 88%;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    margin-left: 10px;
}
.easemobWidget-word-close {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 24px;
    right: 10px;
    top: 15px;
    color: #EBCFB3;
    text-decoration: none;
}
.easemobWidget-Prompt {
    cursor: default;
    margin: 0 2px;
}
.easemobWidget-face-wrapper {
    position: fixed;
    bottom: 144px;
    left: 5px;
    background-color: #fff;
    padding: 0 0 0 10px;
    border-radius: 4px;
    box-shadow: 0 4px 5px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,0,0);
}
.easemobWidget-face-container {
    z-index: 2;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 10px;
    *width: 238px;
}
.easemobWidget-msg-container .chat-face-all {
    width: 24px;
    height: 24px;
}
.easeWidget-face-rec {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 8px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    box-shadow: -2px 2px 2px rgba(0,0,0,.1);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background-color: #fff;
    display: none\9;
    *display: none;
}
.easemobWidget-face-bg {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    margin: 10px 10px 0 0;
    *float: left;
}
.easemobWidget-face-img:hover {
    cursor: pointer;
}
.easemobWidget-face-img {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
/*chat*/
.easemobWidget-left {
    float: left;
}
.easemobWidget-right {
    float: right;
}
.easemobWidget-left,
.easemobWidget-right {
    display: block;
    text-decoration: none;
    width: 98%;
    text-align: left;
    margin-top: 15px;
}
.easemobWidget-msg-container img {
    border-radius: 2px;
    max-width: 100%;
    *width: 200px;
    word-wrap: break-word;
    margin: 0 2px;
}
.easemobWidget-msg-container p {
    margin-top: 2px;
    word-break: break-all;
}
.easemobWidget-left-corner {
    position: absolute;
    top: 6px;
    left: -13px;
    background-position: 3px -352px;
    width: 14px;
    height: 20px;
}
.easemobWidget-right-corner {
    position: absolute;
    top: 6px;
    right: -13px;
    background-position: -13px -352px;
    width: 14px;
    height: 20px;
}
.easemobWidget-msg-container {
    display: inline-block;
    border-radius: 4px;
    max-width: 230px;
    *width: 230px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 -1px 1px rgba(0,0,0,.2) inset;
    padding: 10px;
    min-width: 20px;
    min-height: 20px;
    vertical-align: middle;
    text-align: left;
    font-size: 13px;
}
.easemobWidget-left .easemobWidget-msg-container {
    background-color: #fff;
}
.easemobWidget-right .easemobWidget-msg-container {
    background-color: #E1EBFE;
}
.easemobWidget-left .easemobWidget-msg-wrapper {
    float: left;
    margin-left: 12px;
}
.easemobWidget-right .easemobWidget-msg-wrapper {
    float: right;
    margin-right: 12px;
}
.easemobWidget-msg-wrapper {
    position: relative;
}
.easemobWidget-msg-status {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.easemobWidget-left .easemobWidget-msg-voice {
    display: block;
    background-position: -2px -234px;
    width: 26px;
    height: 22px;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}
.easemobWidget-left .easemobWidget-msg-voice.one {
    background-position: -2px -174px;
}
.easemobWidget-left .easemobWidget-msg-voice.two {
    background-position: -2px -204px;
}
.easemobWidget-msg-mapinfo {
    display: inline-block;
    width: 150px;
    text-align: left;
}
.easemobWidget-msg-maplink {
    color: #1a1a1a;
}
.easemobWidget-right .easemobWidget-msg-mapico {
    float: left;
    margin: -10px 10px -10px -10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 -1px 1px rgba(0,0,0,.2) inset;
}
.easemobWidget-left .easemobWidget-msg-mapico {
    float: right;
    margin: -10px -10px -10px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.easemobWidget-msg-status i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 2px -369px;
    vertical-align: middle;
}
.easemobWidget-msg-status span {
    vertical-align: middle;
    display: inline-block;
    color: #999;
}
/*send*/
.easemobWidget-send-wrapper {
    position: absolute;
    height: 140px;
    width: 100%;
    bottom: 0;
}
#easemobWidgetSendBtn.disabled {
    background-color: #ccc;
    cursor: default;
}
.easemobWidget-send-wrapper textarea {
    width: 100%;
    height: 70px;
    border: none;
    padding: 10px;
    *padding: 0;
    box-sizing: border-box;
    outline: none;
    margin-top: 30px;
    font-size: 13px;
    resize: none;
}
.easemobWidget-send {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 100px;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    color: #fff;
}
.easemobWidget-face {
    position: absolute;
    top: 3px;
    left: 5px;
    background-position: 0px -78px;
    width: 30px;
    height: 30px;
}
.easemobWidget-face:hover {
    cursor: pointer;
    background-position: 0px -138px;
}
.easemobWidget-file {
    position: absolute;
    top: 4px;
    left: 36px;
    background-position: 0px -49px;
    width: 30px;
    height: 30px;
}
.easemobWidget-file:hover {
    cursor: pointer;
    background-position: 0px -109px;
}
/*theme*/
.default-bg-color {
  background-color: #49b9f1;
}
.default-border-color {
  border: 1px solid #1aa1e4;
}
.default-hover-color {
    background-color: #80cef5;
}
object {
    width: 30px;
    height: 30px;
    left: 36px;
    top: 3px;
    position: absolute;
    z-index: 12;
}
.easemobWidget-error-prompt {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,.3) ;
    width: 300px;
    height: 35px;
    line-height: 35px;
    top: 50%;
    margin-top: -17.5px;
    margin-left: -150px;
    left: 50%;
    color: #fff;
    background-color: #4c4c4c;
    text-align: center;
    border-radius: 4px;
    transition: all .5s;
    opacity: .9;
    *filter: alpha(opacity=90);
}
#easemobWidgetLink {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 0;
}
body .easemobWidget-offline-bg {
    background-color: #ccc;
}
.easemobWidget-offline {
    width: 95%;
    max-width: 400px;
    *width: 400px;
    margin: auto;
    position: relative;
}
.easemobWidget-offline h3,
.easemobWidget-offline p,
.easemobWidget-offline input,
.easemobWidget-offline button,
.easemobWidget-offline textarea {
    display: block;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    outline: none;
    margin: 10px 0;
}
.easemobWidget-offline input,
.easemobWidget-offline textarea {
    border: 1px solid #D8D9DA;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}
.easemobWidget-offline h3 {
    margin-top: 15px;
}
.easemobWidget-offline input {
    height: 36px;
}
.easemobWidget-offline textarea {
    height: 100px;
    resize: none;
}
.easemobWidget-offline button {
    float: right;
    width: 100px;
    height: 36px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
/*mobile*/
.easemobWidgetHeader-mobile {
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
}
.easemobWidgetBody-mobile {
    font-size: 14px;
    bottom: 42px;
}
.easemobWidget-face-wrapper-mobile {
    width: 100%;
    left: 0;
    border-radius: 0;
    padding-left: 0;
    bottom: 44px;
}
.easemobWidget-face-mobile {
    z-index: 1;
    top: 6px;
    left: 3px;
}
.easemobWidget-face-bg-mobile {
    width: 14.2%;
    margin: 8px 0;
}
.easemobWidget-file-mobile {
    z-index: 1;
    right: 82px;
    left: auto;
    top: 6px;
}
.easemobWidgetSend-mobile {
    position: fixed;
    height: 42px;
    padding: 0 80px 0 36px;
    box-sizing: border-box;
    background-color: #E7EAF4;
}
.easemobWidget-send-wrapper .textarea-mobile {
    height: 34px;
    bottom: 0;
    margin-top: 4px;
    border-radius: 4px;
    padding-right: 36px;
}
.easeWidget-face-rec-mobile {
    display: none;
}
.easemobWidgetSendBtn-mobile {
    width: 64px;
    right: 8px;
    top: 4px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.easemobWidget-logo {
    position: absolute;
    color: #eee;
    font-size: 12px;
    left: 10px;
    bottom: 10px;
}
@media 
(-webkit-min-device-pixel-ratio: 2) {
.easemobWidget-face-mobile:hover {
    background-position: -2px -86px;
}
.easemobWidget-face-mobile {
    background: url(base@2x.png) no-repeat;
    background-size: 64px;
    background-position: -2px -86px;
}
.easemobWidget-file-mobile:hover {
    background-position: -2px -54px;
}
.easemobWidget-file-mobile {
    background: url(base@2x.png) no-repeat;
    background-size: 64px;
    background-position: -2px -54px;
}
.easemobWidget-pop-bar:hover i {
    background-position: -35px -34px;
}
.easemobWidget-pop-bar i {
    background: url(base@2x.png) no-repeat;
    background-size: 64px;
    background-position: -35px -34px;
}
}
