html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,i,span,em {
	margin: 0;
	padding: 0;
	text-size-adjust: none;
	appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}
html, body {
	width: 100%;
	height: 100%;
	font-size: 13px;
	font-family: sans-serif, 'Microsoft YaHei', 'Arial';
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #009EEC;
}
ul, li {
	list-style: none;
}
img {
	border: none;
}
button, textarea, input {
	outline: none;
}

#EasemobKefuWebim {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* todo 统一hide 类名 */
/* 增加id选择是为了提高优先级 */
.hide,
.em-hide,
#EasemobKefuWebim .em-hide,
#EasemobKefuWebim .hide {
	display: none;
}
