.em-mobile {
	border-radius: 0;
	.em-widgetHeader-nickname,
	.em-header-status-text,
	 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 55%;
	}
	.em-widgetBody-wrapper {
		bottom: 77px;
	}
	.em-widget-tip span {
		font-size: 14px;
	}
	.em-widgetHeader-wrapper {
		font-size: 16px;
		border-radius: 0;
		box-shadow: none;
	}
	.icon-corner-left,
	.icon-corner-right {
		top: 4px;
	}
	.em-widgetHeader {
		font-size: 17px;
		border-radius: 0;
		box-shadow: none;
	}
	.em-widget-list-btn,
	.em-widget-msg-container {
		font-size: 17px;
	}
	.em-widget-list-btn {
		line-height: 30px;
		box-shadow: none;
	}
	.em-widget-msg-container {
		padding: 8px 10px;
	}
	.em-widget-msg-file .em-widget-msg-container {
		padding: 0;
	}
	.em-bar-face-wrapper {
		width: 100%;
		left: 0;
		border-radius: 0;
		padding-left: 0;
		bottom: 44px;
	}
	.em-bar-face-bg {
		width: 14.2%;
		margin: 0;
	}
	.em-bar-face-bg .em-bar-face-img {
		margin: 8px 0;
	}
	.em-widgetHeader-keyboard {
		position: absolute;
		right: 9px;
		top: 11px;
		width: 21px;
		height: 21px;
		border-radius: 4px;
		text-decoration: none;
		&:before {
			position: absolute;
			left: -5px;
			top: -4px;
			text-align: center;
			color: white;
		}
	}
	.em-widget-send-wrapper {
		position: absolute;
		height: auto;
		padding: 3px 80px 3px 6px;
		box-sizing: border-box;
		background-color: white;
		box-shadow: 0 -1px 0 #e5e5e5;
	}
	.em-widget-send-disable:after {
		height: 48px;
	}
	.em-widget-textarea {
		height: 34px;
		max-height: 88px;
		bottom: 0;
		margin-top: 4px;
		margin-bottom: 1px;
		border-radius: 4px;
		padding: 9px;
		padding-right: 36px;
		overflow-x: hidden;
		overflow-y: hidden;
		user-select: text!important;
		line-height: 17px;
		font-size: 17px;
		color: #1a1a1a;
		box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
	}
	.em-widget-send {
		width: 64px;
		right: 8px;
		top: auto;
		bottom: 8px;
		height: 33px;
		line-height: 33px;
		font-size: 15px;
	}
	.easeWidget-face-rec {
		display: none;
	}
	.em-widgetSendBtn {
		width: 64px;
		right: 8px;
		top: auto;
		bottom: 8px;
		height: 33px;
		line-height: 33px;
		font-size: 15px;
	}
	.em-widget-satisfaction-dialog {
		z-index: 3;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		border-radius: 0;
		font-size: 15px;
	}
	.em-widget-error-prompt,
	.em-widget-satisfaction-dialog h3,
	.em-widget-satisfaction-dialog button,
	.em-widget-satisfaction-dialog textarea {
		font-size: 15px;
	}
	.em-widget-satisfaction-dialog button {
		height: 32px;
		line-height: 32px;
	}
}
@media 
(-webkit-min-device-pixel-ratio: 2) {}
