object {
    width: 30px;
    height: 30px;
    left: 36px;
    top: 3px;
    position: absolute;
    z-index: 12;
}
.em-widget-error-prompt {
    z-index: 3;
    font-size: 13px;
    position: absolute;
    width: 220px;
    height: 13px;
    line-height: 13px;
    padding: 20px 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    color: white;
    background-color: #000;
    text-align: center;
    border-radius: 4px;
    transition: all .5s;
    opacity: .7;
}
#em-widgetLink {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 0;
}
.em-widget-wrapper .em-widget-success-prompt {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}
.em-widget-success-prompt p {
    margin-top: -10px;
    font-size: 13px;
    width: 100%;
    color: #59BE00;
    text-align: center;
}
.em-widget-success-prompt i {
    display: block;
    position: relative;
    color: #59BE00;
    font-size: 150px;
    width: 150px;
    height: 150px;
    margin: 80px auto 0;
    line-height: 150px;
}
.em-widget-success-prompt i:after {
    content: 'G';
    position: absolute;
    font-size: 60px;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.em-widget-offline-bg {
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
}
.em-widget-offline {
    width: 95%;
    max-width: 400px;
    margin: auto;
}
.em-widget-offline h3,
.em-widget-offline p,
.em-widget-offline input,
.em-widget-offline button,
.em-widget-offline textarea {
    display: block;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    margin: 10px 0;
}
.em-widget-offline input,
.em-widget-offline textarea {
    border: 1px solid #D8D9DA;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}
.em-widget-offline h3 {
    margin-top: 15px;
}
.em-widget-offline input {
    height: 36px;
}
.em-widget-offline textarea {
    height: 100px;
    resize: none;
}
.em-widget-offline button {
    width: 100px;
    height: 36px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.em-widget-offline .em-widget-offline-cancel {
    float: left;
    background-color: white;
    border: 1px solid #D8D9DA;
    color: #999;
}
.em-widget-offline .em-widget-offline-ok {
    float: right;
    color: white;
}
.em-widget-list-btns {
    min-width: 190px;
    position: relative;
    border-radius: 6px;
    margin: 4px 0;
    text-align: left;
    clear: both;
}
.em-widget-list-btns:after {
    content: '';
    clear: both;
}
.em-widget-list-btn {
    font-size: 13px;
    display: block;
    width: 95%;
    padding: 5px;
    min-height: 30px;
    text-align: left;
    color: #000;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    margin: 4px auto;
    word-break: break-all;
    white-space: pre-wrap;
}
.em-widget-list-btn:hover {
    color: white;
}
.em-widget-logo,
.em-widget-satisfaction {
    position: absolute;
    color: #ccc;
    font-size: 12px;
    left: 10px;
    bottom: 10px;
}
.em-widget-satisfaction {
    cursor: pointer;
}
.em-widget-date,
.em-widget-event {
    text-align: center;
    clear: both;
    padding: 20px 0 0 0;
    color: #ADAEAF;
    font-size: 12px;
}
.em-widget-event {
    padding-top: 0;
}
/*
    pop dialog
*/
.em-widget-dialog {
	z-index: 3;
    position: absolute;
    width: 320px;
    height: 380px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -180px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #efefef\9;
}
.em-widget-dialog div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.em-widget-dialog button {
    width: 40%;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
    float: right;
}
.em-widget-dialog .em-widget-cancel {
    background-color: white;
    color: #A6A6A6;
    border: 1px solid #E4E4E4;
    float: left;
}
/*
    satisfaction dialog
*/
.em-widget-satisfaction-dialog {
    font-size: 13px;
}
.em-widget-satisfaction-dialog h3 {
    font-weight: normal;
    color: #646464;
    margin: 20px 0 30px 16px;
    font-size: 13px;
}
.em-widget-satisfaction-dialog .em-widget-satisfaction-success {
    width: 100%;
    top: 0;
    background-color: rgba(255,255,255,1);
}
.em-widget-satisfaction-dialog ul {
    width: 96%;
    margin: 0 auto;
    text-align: center;
}
.em-widget-satisfaction-dialog li {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;

    width: 80px\9;
    height: 80px\9;
    zoom: 50%\9;
}
.em-widget-satisfaction-dialog li {
    font-size: 60px;
    left: -2.5px;
    color: #ccc;
}
.em-widget-satisfaction-dialog li.sel {
    color: #ffb31a;
}
.em-widget-satisfaction-dialog textarea {
    resize: none;
    width: 90%;
    padding: 6px;
    box-sizing: border-box;
    height: 120px;
    margin: 35px auto 25px;
    display: block;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-size: 13px;
}
