object {
	width: 30px;
	height: 30px;
	left: 36px;
	top: 3px;
	position: absolute;
	z-index: 12;
}
.em-widget-error-prompt {
	z-index: 99;
	font-size: 13px;
	position: absolute;
	width: 220px;
	height: 13px;
	line-height: 13px;
	padding: 20px 0;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	color: white;
	background-color: #000;
	text-align: center;
	border-radius: 4px;
	transition: all .5s;
	opacity: .7;
}
.em-widget-wrapper .em-widget-success-prompt {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	p {
		margin-top: -10px;
		font-size: 13px;
		width: 100%;
		color: #59BE00;
		text-align: center;
	}
	> i {
		display: block;
		position: relative;
		margin: 80px auto 0;
		text-align: center;
		&:before {
			font-size: 150px;
			width: 150px;
			height: 150px;
			line-height: 150px;
			color: #59BE00;
		}
		i {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
    		&:before {
				font-size: 60px;
				color: white;
				width: 60px;
				height: 150px;
				line-height: 150px;
			}
		}
	}
}
.em-widget-offline-bg {
	z-index: 3;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
}
.em-widget-offline {
	width: 95%;
	max-width: 400px;
	margin: auto;
	h3,
	p,
	input,
	button,
	textarea {
		display: block;
		font-size: 14px;
		font-weight: normal;
		width: 100%;
		margin: 10px 0;
	}
	input,
	textarea {
		border: 1px solid #D8D9DA;
		border-radius: 4px;
		padding: 10px;
		box-sizing: border-box;
	}
	h3 {
		margin-top: 15px;
	}
	input {
		height: 36px;
	}
	textarea {
		height: 100px;
		resize: none;
	}
	button {
		width: 100px;
		height: 36px;
		border-radius: 4px;
		border: none;
		font-size: 14px;
		cursor: pointer;
	}
	.em-widget-offline-cancel {
		float: left;
		background-color: white;
		border: 1px solid #D8D9DA;
		color: #999;
	}
	.em-widget-offline-ok {
		float: right;
		color: white;
	}
}
.em-widget-list-btns {
	min-width: 190px;
	position: relative;
	border-radius: 6px;
	margin: 4px 0;
	text-align: left;
	clear: both;
	&:after {
		content: '';
		clear: both;
	}
}
.em-widget-list-btn {
	font-size: 13px;
	display: block;
	width: 95%;
	padding: 5px;
	min-height: 30px;
	text-align: left;
	color: #000;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	margin: 4px auto;
	word-break: break-all;
	white-space: pre-wrap;
	&:hover {
		color: white;
	}
}
.em-widget-list-btn-white {
	@extend .em-widget-list-btn;
	color: #fff;
}
.em-widget-date,
.em-widget-event {
	text-align: center;
	clear: both;
	padding: 20px 0 0 0;
	color: #ADAEAF;
	font-size: 12px;
}
.em-widget-event {
	padding-top: 0;
}
/*
	pop dialog
*/
.em-widget-dialog {
	z-index: 3;
	position: absolute;
	width: 320px;
	height: 380px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,.3);
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -180px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #efefef;
	div {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	button {
		width: 40%;
		padding: 0;
		height: 30px;
		line-height: 30px;
		border-radius: 4px;
		color: white;
		border: none;
		font-size: 13px;
		cursor: pointer;
		float: right;
	}
	.em-widget-cancel {
		background-color: white;
		color: #A6A6A6;
		border: 1px solid #E4E4E4;
		float: left;
	}
}
/*
	satisfaction dialog
*/
.em-widget-satisfaction-dialog {
	font-size: 13px;
	h3 {
		font-weight: normal;
		color: #646464;
		margin: 20px 0 30px 16px;
		font-size: 13px;
	}
	.em-widget-satisfaction-success {
		width: 100%;
		top: 0;
		background-color: rgba(255,255,255,1);
	}
	ul {
		width: 96%;
		margin: 0 auto;
		text-align: center;
		li {
			// fake: IE8 满意度评价会有兼容问题，修改图标需替换字符
			font-family: 'easemobim' !important;
			display: inline-block;
			color: #ccc;
			position: relative;
			width: 55px;
			height: 55px;
			line-height: 55px;
			cursor: pointer;
			font-size: 60px;

			width: 80px\9;
			height: 80px\9;
			zoom: 50%\9;

			&.sel {
				color: #ffb31a;
			}
		}
	}
	textarea {
		resize: none;
		width: 90%;
		padding: 6px;
		box-sizing: border-box;
		height: 120px;
		margin: 35px auto 25px;
		display: block;
		border: 1px solid #E4E4E4;
		border-radius: 6px;
		font-size: 13px;
	}
}

/* 图片展示控件 */
.img-view {
	z-index: 100000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: auto;
	background: rgba(0,0,0,.3);
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

/* 视频邀请确认对话框 */
.em-dialog-video-confirm {
	position: fixed;
	width: 220px;
	height: 80px;
	padding: 20px 10px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: rgba(0,0,0,.8);
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	.button-panel {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		margin: 10px 0;
		span {
			font-size: 14px;
			border-radius: 5px;
			height: 35px;
			text-align: center;
			flex-grow: 1;
			line-height: 35px;
			margin: 0 5px;
			cursor: pointer;
			&.btn-cancel {
				color: black;
				background: white;
			}
			&.btn-confirm {
				color: white;
				background: #1ba8ed;
			}
		}
	}
}
