.em-widget-error-prompt {
	z-index: 3000;
	font-size: 13px;
	position: absolute;
	width: 220px;
	height: 13px;
	line-height: 13px;
	padding: 20px 0;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	color: white;
	background-color: #000;
	text-align: center;
	border-radius: 4px;
	transition: all .5s;
	opacity: .7;
}

/* 图片展示控件 */

.img-view {
	z-index: 100000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: #000;
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}
	.ios-load {
		position: absolute;
		width: 100%;
		bottom: 50px;
		text-align: center;
		> span {
			display: inline-block;
			background-color: #464646;
			color: #fff;
			font-size: 12px;
			padding: 0 3px;
			line-height: 20px;
			border-radius: 2px;
		}
	}
	> .android-load {
		position: absolute;
		right: 20px;
		bottom: 50px;
		background-color: #464646;
		color: #fff;
		font-size: 12px;
		padding: 0 3px;
		line-height: 20px;
		border-radius: 2px;
		float: right;
		text-decoration: none;
	}
}


// 弹出对话框
.em-dialog {
	z-index: 1000;
	width: 100%;
	bottom: 0;
	position: absolute;
	top: 40px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #efefef;
	textarea {
		height: 100px;
		resize: none;
	}
	> div.footer{
		width: 90%;
		margin: 15px auto;
		bottom: 0;
		text-align: center;
		> button {
			width: 40%;
			padding: 0;
			height: 30px;
			line-height: 30px;
			border-radius: 4px;
			color: white;
			border: none;
			font-size: 13px;
			cursor: pointer;
			float: right;
			&.cancel-btn {
				background-color: white;
				color: #A6A6A6;
				border: 1px solid #E4E4E4;
				float: left;
			}
		}
	}
	&.mini {
		text-align: center;
		z-index: 2000;
		width: 320px;
		height: 380px;
		top: 50%;
		left: 50%;
		margin-left: -160px;
		margin-top: -180px;
		border-radius: 5px;
	}
	// 粘贴上传对话框
	&.paste-image {
		line-height: 300px;
		img {
			vertical-align: middle;
			max-width: 100%;
			max-height: 276px;
			border: 1px solid #eee;
		}
	}
	// 满意度评价
	&.satisfaction {
		font-size: 13px;
		.wrapper {
			width: 95%;
			max-width: 400px;
			margin: auto;
			.title{
				font-size: 14px;
				display: inline-block;
				margin-top: 15px;
			}
			ul {
				width: 100%;
				margin: 15px 0;
				text-align: center;
				li {
					// fake: IE8 满意度评价会有兼容问题，修改图标需替换字符
					font-family: 'easemobim' !important;
					display: inline-block;
					color: #ccc;
					position: relative;
					width: 55px;
					height: 55px;
					line-height: 55px;
					cursor: pointer;
					font-size: 60px;
					width: 80px\9;
					height: 80px\9;
					zoom: 50%\9;
					&.sel {
						color: #ffb31a;
					}
				}
			}
			.tag-container{
				margin: 0 auto;
				text-align: center;
				.tag{
					display: inline-block;
					width: 140px;
					height: 30px;
					border: 1px solid #ccc;
					padding: 0 5px;
					margin: 5px;
					border-radius: 5px;
					color: #ccc;
					text-align: center;
					line-height: 30px;
					overflow: hidden;
					cursor: pointer;
					&.selected{
						border-color: rgb(242,145,0);
						color: rgb(242,145,0);
					}
				}
				
			}
		}
		textarea {
			resize: none;
			width: 100%;
			padding: 6px;
			box-sizing: border-box;
			height: 120px;
			margin: 15px 0;
			display: block;
			border: 1px solid #E4E4E4;
			border-radius: 6px;
		}
		.footer{
			max-width: 400px;
			height: 30px;
			padding: 0 15px;
		}
	}
	// 留言
	&.ticket {
		.wrapper {
			width: 95%;
			max-width: 400px;
			margin: auto;
			h3,
			p,
			input,
			textarea {
				display: block;
				font-size: 14px;
				font-weight: normal;
				width: 100%;
				margin: 10px 0;
			}
			input,
			textarea {
				border: 1px solid #D8D9DA;
				border-radius: 4px;
				padding: 10px;
				box-sizing: border-box;
			}
			h3 {
				margin-top: 15px;
			}
			input {
				height: 36px;
			}
			.note-category {
				font-size: 14px;
				font-weight: normal;
				margin: 10px 0;
				position: relative;
				display: block;
			    width: 100%;
				border: 1px solid #D8D9DA;
				border-radius: 4px;
				box-sizing: border-box;
				height: 36px;
				cursor: pointer;
			}

		}
		.footer{
			max-width: 400px;
		}
	}
	// 视频确认对话框
	&.rtc-video-confirm {
		position: fixed;
		width: 220px;
		height: 100px;
		padding: 20px 10px;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		color: white;
		background-color: rgba(0, 0, 0, .8);
		border-radius: 4px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
		border: none;
		.footer {
			display: flex;
			flex-flow: row nowrap;
			width: 100%;
			margin: 10px 0;
			button {
				font-size: 14px;
				border-radius: 5px;
				height: 35px;
				text-align: center;
				flex-grow: 1;
				line-height: 35px;
				margin: 0 5px;
				cursor: pointer;
				&.cancel-btn {
					color: black;
					background: white;
				}
				&.confirm-btn {
					color: white;
					background: #1ba8ed;
				}
			}
		}
	}
	// 提交成功提示
	&.em-success-prompt {
		p {
			margin-top: -10px;
			font-size: 13px;
			width: 100%;
			color: #59BE00;
			text-align: center;
		}
		i.icon-circle {
			display: block;
			position: relative;
			margin: 80px auto 0;
			text-align: center;
			&:before {
				font-size: 150px;
				width: 150px;
				height: 150px;
				line-height: 150px;
				color: #59BE00;
			}
			i {
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				&:before {
					font-size: 60px;
					color: white;
					width: 60px;
					height: 150px;
					line-height: 150px;
				}
			}
		}
	}
	&.session-list {
		height: initial;
		bottom: 0;
		overflow-y: auto;
		ul {
			> .session-item {
				margin-left: 10px;
				position: relative;
				height: 60px;
				line-height: 60px;
				border-bottom: 1px solid #e5e5e5;
				font-weight: normal;
				> img.avatar {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					vertical-align: middle;
				}
				.name {
					position: absolute;
					padding-left: 10px;
					line-height: 40px;
					max-width: 40%;
					text-overflow: ellipsis;
					overflow: hidden;
					font-size: 14px;
					font-weight: normal;
				}
				.latest-message {
					white-space: nowrap;
					position: absolute;
					padding-left: 10px;
					line-height: 30px;
					height: 30px;
					bottom: 0;
					max-width: 70%;
					text-overflow: ellipsis;
					overflow: hidden;
					color: #999;
				}
				.latest-timestamp {
					float: right;
					padding-right: 15px;
					line-height: 40px;
					color: #999;
				}
				.unread-count {
					line-height: 20px;
					position: absolute;
					bottom: 5px;
					right: 15px;
					color: white;
					background-color: #ff661a;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					text-align: center;
				}
			}
		}
	}
	&.off-duty-prompt {
		width: 300px;
		height: 190px;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
		border-radius: 4px;
		border: none;
		> .header {
			height: 40px;
			line-height: 40px;
			padding: 0 15px;
			color: white;
			font-size: 14px;
			font-weight: 700;
		}
		> .body {
			padding: 0 10px;
			line-height: 145px;
			height: 150px;
			overflow: auto;
			> .content {
				line-height: 20px;
				display: inline-block;
				vertical-align: middle;
				text-align: left;
				width: 100%;
			}
		}
	}
	&.cta-prompt {
		top: 50px;
		height: auto;
		bottom: auto;
		overflow: initial;
		> .indicator {
			border-width: 0 10px 10px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-style: solid;
			width: 3px;
			height: 3px;
			display: inline-block;
			position: absolute;
			top: -10px;
			left: 10px;
		}
		> .header {
			color: white;
			padding: 0 10px;
			height: 40px;
			line-height: 40px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
    		> .avatar {
				height: 30px;
				width: 30px;
				border-radius: 50px;
			}
			> .title {
				font-size: 16px;
				vertical-align: text-bottom;
				padding-left: 10px;
			}
			> .btn-close {
				float: right;
				line-height: 40px;
				&:before {
					font-size: 40px;
				}
			}
		}
		> .body {
			padding: 10px;
			height: 100px;
			font-size: 14px;
			overflow-y: auto;
			border-bottom: 1px solid #e5e5e5;
			p {}
		}
		> .footer {
			height: 50px;
			margin: 0 20px;
			width: initial;
			line-height: 50px;
			float: right;
			.btn-reply {
				width: auto;
				height: 35px;
				line-height: 35px;
				font-size: 16px;
				padding: 0 10px;
				vertical-align: middle;
				float: none;
				&:before {
					padding-right: 10px;
					font-size: 25px;
				}
			}
		}
		// 访客回呼cta弹框在下边
		&.bottom {
			top: auto;
			width: auto;
			bottom: 45px;
			right: 10px;
			left: 10px;
			> .indicator {
				top: auto;
				bottom: -12px;
				left: auto;
				right: 40px;
				border-width: 10px 10px 0;
				border-top-color: white;
			}
		}
	}
	&.loading {
		z-index: 9999;
		.wrapper {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			>div {
				position: relative;
				left: -50%;
				position: -50%;
				top: -100%;
			}
		}
	}
	&.session-over-limit{
		.wrapper {
			width: 300px;
			height: 190px;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			border: none;
			text-align: center;
			color: #666;
			.tip-word{
				margin-top: 10px;
			}
		}
	}
}
.em-select {
	height: 34px;
	padding: 10px;
	line-height: 14px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	&:hover {
		background-color: #fafafa;
	}
	.em-select-icon {
		position: absolute;
		line-height: 34px;
		right: 10px;
		top: 0px;
	}
	.em-select-desc {
		cursor: pointer;
	}
}

.em-popuplist{
	position: absolute;
	background-color: #fff;
	border: 1px solid #D8D9DA;
	border-radius: 4px;
	max-height: 210px;
	overflow: auto;
	z-index: 9999;
	li {
		line-height: 35px;
		padding: 0 10px;
		&:hover {
			background-color: #E6E6E6;
		}
	}

}

.em-model {
    position: fixed;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    background-color: rgba(0,0,0,.3);
    top: 40px;
    bottom: 0;
    z-index: 999;
}
