/* 消息窗 */

.em-widgetBody-wrapper {
	position: absolute;
	top: 0;
	bottom: 140px;
	background-color: #E6E6E6;
	width: 100%;
	border-bottom: 1px solid #E5E9F3;
	color: #1a1a1a;
	overflow-x: hidden;
	overflow-y: auto;
	transition: margin .5s, top 0s;
	-webkit-overflow-scrolling: touch;
}


/* 视屏窗控件 */

.em-widget-video {
	position: absolute;
	top: 0;
	width: 100%;
	height: 270px;
	background-color: black;
	video {
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.status {
		position: absolute;
		color: white;
		top: 10px;
		left: 10px;
		.prompt {
			font-size: 12px;
		}
		.time-escape {
			font-size: 14px;
			margin-top: 6px;
		}
	}
	.full-screen-prompt {
		color: white;
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		p {
			margin-top: 10px;
		}
	}
	.sub-win {
		position: absolute;
		width: 144px;
		height: 108px;
		left: 10px;
		bottom: 10px;
		border: 1px solid gray;
		.btn-minimize {
			color: white;
			position: absolute;
			top: 2px;
			right: 2px;
			&:before {
				font-size: 12px;
				line-height: 12px;
			}
		}
	}
	.toolbar-dial {
		position: absolute;
		right: 10px;
		top: 10px;
		>i {
			width: 1.875rem;
			display: inline-block;
			border-radius: 50%;
			line-height: 1.875rem;
			text-align: center;
			margin-left: 10px;
			color: white;
			&:before {
				font-size: 20px;
			}
			&.btn-accept-call {
				background: #6aca6b;
			}
			&.btn-end-call {
				background: #fc363b;
			}
		}
	}
	.toolbar-control {
		position: absolute;
		right: 10px;
		bottom: 10px;
		p {
			display: block;
			color: white;
			&:before {
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
	.btn-maximize {
		display: none;
		color: white;
		position: absolute;
		bottom: 10px;
		left: 10px;
		&:before {
			font-size: 12px;
			line-height: 12px;
		}
	}
	&.minimized {
		.sub-win {
			display: none;
		}
		.btn-maximize {
			display: initial;
		}
	}
}

// 直播等待页面
.live-video-wait {
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../benz-demo/waiting-background-image.gif);
	.header {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 0 20px;
		position: absolute;
		top: 0;
		left: 0;
		> .back-btn {
			color: white;
			font-size: 18px;
			padding: 12px;
			border: 1px solid white;
			border-radius: 4px;
			margin: 20px 0;
			background: none;
		}
	}
	.footer {
		background-image: url(../benz-demo/btn-waiting.png);
		background-position: 0 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		display: block;
		width: 100%;
		height: 20%;
		position: absolute;
		bottom: 0;
		left: 0;
		> .start-btn {
			position: fixed;
			margin: 8.25% 8% 4.5%;
			display: block;
			width: 84%;
			height: 10%;
			background: none;
			border: none;
			color: none;
			opacity: 0;
		}
		&.disabled {
			background-image: url(../benz-demo/btn-start.png);
			> .start-btn {
				display: none;
			}
		}
	}
}

// 直播控件
.em-live-streaming-wrapper {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: black;

	video {
		position: relative;
		width: 100%;
		height: 210px;
		transform: rotate(-90deg);
		transform-origin: 0 0;
	}
	.status-panel {
		padding: 0 10px;
		line-height: 44px;
		height: 44px;
		width: 100%;
		box-sizing: border-box;
		vertical-align: middle;
		background-color: #333;
		color: white;
		.playing {
			display: none;
		}
		.symbol {
			color: red;
			&:before {
				font-size: 10px;
			}
		}
	}
	&.playing {
		.status-panel {
			.playing {
				display: inline-block;
			}
			.stopped {
				display: none;
			}
			.symbol {
				color: green;
			}
		}
	}
}

// 直播关闭倒计时
.live-video-closing  {
	z-index: 200;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    > p {
		text-align: center;
		color: white;
	}
}
/* 信息栏 */

.em-widget-tip {
	display: none;
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
	height: 48px;
	color: #535252;
	background-color: #FFECD5;
	line-height: 44px;
	.content {
		width: 87%;
		vertical-align: middle;
		line-height: 18px;
		margin-left: 10px;
		word-break: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.tip-close {
		position: absolute;
		right: 10px;
		height: 1.875rem;
		color: #EBCFB3;
	}
}

.em-widget-wrapper.has-tip {
	/* 有信息栏时 消息窗 和视屏窗 下移 */
	.em-widgetBody-wrapper,
	.em-widget-video {
		top: 42px;
	}
	/* 显示信息栏 */
	.em-widget-tip {
		display: block;
	}
}

.em-widget-wrapper.has-video {
	/* 有视频窗时，消息窗继续下移 */
	.em-widgetBody-wrapper {
		margin-top: 270px;
	}
	/* 显示视频控件 */
	.em-widget-video {
		display: block;
	}
}

.em-widget-tenant-logo {
	max-width: 370px;
	height: 70px;
	margin: 10px auto -10px;
	text-align: center;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	border-radius: 2px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
}

.em-widget-agent-status {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 26px;
	left: 26px;
}

.em-widget-agent-status.leave:after,
.em-widget-agent-status.busy:after,
.em-widget-agent-status.hidden:after {
	z-index: 1;
	position: absolute;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	top: 0;
	left: 0;
}

.em-widget-agent-status.leave:after {
	content: 'r';
	background-color: #1BA8ED;
	color: white;
}

.em-widget-agent-status.busy:after {
	content: 'q';
	background-color: #FF3000;
	color: white;
}

.em-widget-agent-status.hidden:after {
	content: 'p';
	background-color: #FFC715;
	color: white;
}

.em-widget-agent-status.online {
	background-color: #5AE825;
}

.em-widget-agent-status.offline {
	background-color: #B2B8BA;
}

.em-bar-emoji-wrapper {
	position: fixed;
	z-index: 20;
	bottom: 144px;
	left: 5px;
	background-color: white;
	padding: 0 0 0 10px;
	border-radius: 4px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
	transform: translate3d(0, 0, 0);
	.em-bar-emoji-container {
		z-index: 2;
		position: relative;
		background-color: white;
		border-radius: 4px;
		.em-bar-emoji-bg {
			display: inline-block;
			border-radius: 2px;
			text-align: center;
			margin: 10px 10px 0 0;
			.emoji {
				display: inline-block;
				width: 24px;
				height: 24px;
				vertical-align: middle;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.em-widget-msg-container .emoji {
	width: 24px;
	height: 24px;
}

.em-widget-paste-wrapper {
	text-align: center;
	line-height: 300px;
	img {
		vertical-align: middle;
		max-width: 100%;
		max-height: 276px;
		border: 1px solid #eee;
	}
}
