/* 消息窗 */

.chat-wrapper {
	position: absolute;
	top: 41px;
	bottom: 140px;
	background-color: #F4F7FA;
	width: 100%;
	border-bottom: 1px solid #E5E9F3;
	color: #1a1a1a;
	overflow-x: hidden;
	overflow-y: auto;
	transition: margin .5s, top 0s;
	-webkit-overflow-scrolling: touch;

	.em-widget-tenant-logo {
		max-width: 370px;
		height: 70px;
		margin: 10px auto 0;
		text-align: center;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
		border-radius: 2px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.video-chat-wrapper {
	position: relative;
	color: white;
	.status-bar {
		box-sizing: border-box;
		position: relative;
		height: 88px;
		background-color: rgba(0,0,0,.8);
		.status-text {
			padding: 10px;
			font-size: 12px;
		}
		.time-escape {
			padding-left: 10px;
			font-size: 18px;
		}
		.control-panel {
			position: absolute;
			bottom: 8px;
			right: 8px;
			i {
				display: inline-block;
				width: 32px;
				height: 32px;
				font-size: 24px;
				cursor: pointer;
				border-radius: 50%;
				&:before {
					font-size: 24px;
					position: relative;
					left: 4px;
				}
				&.accept-button {
					background-color: #70ba26;
					margin-right: 8px;
				}
				&.end-button {
					background-color: #db2400;
				}
			}
		}
		.collapse-toggle-button {
			display: inline-block;
			position: absolute;
			top: 4px;
			right: 4px;
			transform: rotate(-90deg);
		}
		&.collapsed {
			height: 32px;
			background-color: #70ba26;
			.control-panel {
				display: none;
			}
			.time-escape,
			.status-text {
				display: inline;
				line-height: 32px;
				padding: 0 0 0 10px;
				font-size: 12px;
			}
			.collapse-toggle-button {
				transform: rotate(90deg);
			}
			&~.video-panel {
				display: none;
			}
		}
		&.terminated {
			background-color: #db2400;
			.time-escape {
				display: none;
			}
		}
	}
	.video-panel {
		background-color: black;
		.single-video-container {
			height: 270px;
			position: relative;
			.nickname {
				background: linear-gradient(to top, rgba(0,0,0,0), black, black);
				box-sizing: border-box;
				line-height: 32px;
				position: absolute;
				top: 0;
				width: 100%;
				padding-left: 10px;
			}
			video {
				width: 100%;
				height: 100%;
			}
			.control-panel {
				background: linear-gradient(to bottom, rgba(0,0,0,0), black, black);
				box-sizing: border-box;
				line-height: 32px;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 32px;
				padding: 0 10px;
				i {
					cursor: pointer;
					float: right;
					&:before {
						font-size: 24px;
					}
					&.return-to-multi-video {
						float: left;
					}
				}
			}
		}
		.multi-video-container {
			max-width: 800px;
			margin: 0 auto;
			position: relative;
			.mini-video-window {
				display: inline-block;
				position: relative;
				width: 33%;
				.nickname {
					background: linear-gradient(to bottom, rgba(0,0,0,0), black, black);
					box-sizing: border-box;
					line-height: 32px;
					position: absolute;
					bottom: 0;
					width: 100%;
					padding-left: 10px;
				}
				.play-button {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					.button-icon {
						top: 50%;
						left: 50%;
						position: absolute;
						height: 0;
						&:before {
							font-size: 50px;
						}
					}
				}
				video {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

//
.em-info-popup-tip {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: 0;

	background-color: #fff;
	color: #535252;
	max-width: 30%;
	min-width: 92px;	// (132 iphone/3 - 16 padding = 116) * 0.8 = 92
	box-sizing: border-box;
	padding: 0 8px;
	box-shadow: 0 0 5px rgba(102, 102, 102, 0.3);
	li {
		@extend %em-mix-ellipsis;
		position: relative;
		text-align: center;
		line-height: 32px;
		width: 100%;
		border-top: 1px solid #ccc;
		// 这里应该继承 theme 色，但是没设计好，再说
		a {
			cursor: pointer;
			color: #535252;
		}
		&:hover {
			a {
				color: #009eec;
			}
		}
	}
	li:nth-child(1) {
		border-top: 0;
	}
}

/* 信息栏 */
.em-widget-tip {
	display: none;
	position: absolute;
	top: 41px;
	width: 100%;
	height: 48px;
	color: #535252;
	background-color: #FFECD5;
	line-height: 44px;
	.content {
		width: 87%;
		vertical-align: middle;
		line-height: 18px;
		margin-left: 10px;
		word-break: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.tip-close {
		position: absolute;
		right: 10px;
		height: 30px;
		color: #EBCFB3;
	}

	// 以下是新版信息栏
	&.new {
		z-index: 1;
		background-color: #fff;
		box-shadow: 0 2px 2px rgba(102, 102, 102, 0.3);
		// border-bottom: 1px solid #ccc;
		font-size: 0;
		box-sizing: border-box;
		// 刚好 1 个 child，选中所有
		.tip-btn:first-child:nth-last-child(1),
		.tip-btn:first-child:nth-last-child(1) ~ .tip-btn {
			width: 100%;
		}
		.tip-btn:first-child:nth-last-child(2),
		.tip-btn:first-child:nth-last-child(2) ~ .tip-btn {
			width: 50%;
		}
		.tip-btn:first-child:nth-last-child(3),
		.tip-btn:first-child:nth-last-child(3) ~ .tip-btn {
			width: 33.3%;
		}
		.tip-btn {
			@extend %em-mix-ellipsis;
			cursor: pointer;
			text-align: center;
			font-size: 13px;
			display: inline-block;
			line-height: 48px;
			span {
				font-size: 15px;
			}
		}
	}
}

.em-widget-wrapper.has-tip {
	/* 有信息栏时 消息窗 下移 */
	.chat-wrapper {
		top: 89px;
	}
	/* 显示信息栏 */
	.em-widget-tip {
		display: block;
	}
}

.emoji-panel {
	position: absolute;
	z-index: 10;
	bottom: 144px;
	left: 5px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
	transform: translate3d(0, 0, 0);
	.emoji-container {
		height: 180px;
		position: relative;
		background-color: white;
		border-radius: 4px;
		padding: 5px;
		overflow-y: auto;
		overflow-x: hidden;
		.line-container {
			white-space: nowrap;
			.emoji-bg {
				display: inline-block;
				border-radius: 5px;
				text-align: center;
				padding: 3px;
				margin: 2px;
				&:hover {
					background-color: #e9e9e9;
				}
				.emoji {
					display: inline-block;
					width: 24px;
					height: 24px;
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
		&.magic {
			.line-container {
				.emoji-bg {
					padding: 5px;
				}
				.emoji {
					width: 42px;
					height: 42px;
				}
			}
		}
	}
	.navigator-wrapper {
		width: 350px;
		position: relative;
		display: block;
		height: 30px;
		background-color: #e9e9e9;
		white-space: nowrap;
		overflow: hidden;
		.navigator-container {
			position: relative;
			padding: 0 30px;
			.navigator-item {
				box-sizing: bolder-box;
				text-align: center;
				min-width: 60px;
				position: relative;
				line-height: 30px;
				vertical-align: middle;
				display: inline-block;
				padding: 0 10px;
				cursor: pointer;
				background-color: #e9e9e9;
				font-size: 12px;
				&:after {
					content: "";
					position: absolute;
					right: 0;
					display: inline-block;
					height: 30px;
					width: 1px;
					background-color: white;
				}
				&.selected {
					background-color: white;
				}
			}
		}
		.scroll-left,
		.scroll-right {
			background-color: #e9e9e9;
			display: inline-block;
			position: absolute;
			width: 30px;
			height: 30px;
			cursor: pointer;
			top: 0;

			&:after {
				content: "";
				position: absolute;
				right: 0;
				display: inline-block;
				height: 30px;
				width: 1px;
				background-color: white;
			}
			&.icon-corner-right:before,
			&.icon-corner-left:before {
				// font-size: 20px;
				// line-height: 20px;
			}
			&.disabled {
				color: #c4c4c4;
				cursor: not-allowed;
			}
		}
		.scroll-right {
			position: absolute;
			right: 0;
			&:after {
				left: -1px;
			}
		}

		.scroll-left {
			left: 0;
		}
	}
}

.em-widget-msg-container .emoji {
	width: 24px;
	height: 24px;
}
