.em-widget-chat {
	padding-bottom: 20px;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		clear: both;
		zoom: 1;
		overflow: hidden;
	}
	.msg-view {
		width: 90%;
		float: left;
		margin: 5%;
		border: 1px solid #bfbfbf;
		border-radius: .25rem;
		padding: .9375rem;
		box-sizing: border-box;
		background-color: white;
		position: relative;

		> h1 {
			font-size: 1.125rem;
			line-height: 1.125rem;
		}

		> h2 {
			font-size: .75rem;
			line-height: .75rem;
			color: #999;
			margin: .625rem 0 .9375rem;
		}

		> img {
			display: block;
			width: 100%;
		}

		> p {
			font-size: .75rem;
			line-height: .75rem;
			color: #999;
			margin: .9375rem 0 .625rem;
		}

		> .footer {
			border-top: 1px solid #e9e9e9;
			padding-top: .9375rem;
			position: relative;


			> span {
				font-size: .875rem;
				line-height: .875rem;
				font-weight: bolder;
			}

			.svg-icon-arrow-right {
				width: .9375rem;
				height: 1.25rem;
				position: absolute;
				right: 0;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDUxLjg0NiA0NTEuODQ3Ij48cGF0aCBkPSJNMzQ1LjQ0IDI0OC4yOTJsLTE5NC4yODYgMTk0LjI4Yy0xMi4zNiAxMi4zNjYtMzIuMzk3IDEyLjM2Ni00NC43NSAwLTEyLjM1NC0xMi4zNTMtMTIuMzU0LTMyLjM5IDAtNDQuNzQzbDE3MS45MTQtMTcxLjkxLTE3MS45MS0xNzEuOTAzYy0xMi4zNTMtMTIuMzYtMTIuMzUzLTMyLjM5NCAwLTQ0Ljc0OCAxMi4zNTUtMTIuMzYgMzIuMzkyLTEyLjM2IDQ0Ljc1IDBsMTk0LjI4OCAxOTQuMjgzYzYuMTc3IDYuMTggOS4yNjIgMTQuMjcgOS4yNjIgMjIuMzY2IDAgOC4wOTgtMy4wOSAxNi4xOTUtOS4yNjcgMjIuMzcyeiIgZmlsbD0iI2RjZGNkYyIvPjwvc3ZnPg==);
			}

		}

		> a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

}

.em-widget-left,
.em-widget-right {
	float: left;
	display: block;
	text-decoration: none;
	width: 100%;
	text-align: left;
	margin-top: 15px;
}

.em-widget-left {
	> img.avatar {
		width: 2.5rem;
		height: 2.5rem;
		margin-left: .75rem;
		float: left;
	}
	> .agent-name {
		font-size: .625rem;
		padding-left: .625rem;
		color: #999;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 10rem;
		display: inline-block;
	}
	.em-widget-msg-container {
		background-color: white;
		border: 1px solid #BFBFBF;
	}
	.em-widget-msg-wrapper {
		clear: both;
		position: relative;
		left: 3.875rem;
		top: -1.375rem;
	}
}

.em-widget-right {
	.em-widget-msg-container {
		color: white;
		background-color: #00ADEF;
		float: right;
		max-width: 14.5rem;
	}
	.em-widget-msg-wrapper {
		float: right;
		margin-right: 1.125rem;
	}
}

.em-widget-chat{
	.icon-corner-left {
		z-index: 1;
		position: absolute;
		top: .25rem;
		left: -1rem;
		width: 1.875rem;
		height: 1.875rem;
		color: white;
		text-shadow: -1.5px 0 0 #BFBFBF;
	}

	.icon-corner-right {
		z-index: 1;
		position: absolute;
		top: .25rem;
		right: -1rem;
		width: 1.875rem;
		height: 1.875rem;
		color: #00ADEF;
		text-shadow: 1px 0 0 #c3cbd9;
	}
}


.em-widget-msg-container {
	display: inline-block;
	border-radius: .25rem;
	max-width: 13.5rem;
	box-sizing: border-box;
	padding: .625rem;
	min-width: 20px;
	min-height: 20px;
	vertical-align: middle;
	text-align: left;
	border: 1px solid #e5e5e5;
	// 图片消息、表情
	img {
		border-radius: 2px;
		max-width: 200px;
		word-wrap: break-word;
		vertical-align: middle;
	}
	// 坏掉的图片
	.icon-broken-pic {
		color: #999;
	}
	// 文本消息
	pre {
		word-break: break-word;
		white-space: pre-wrap;
	}
	// 文件消息
	&.em-widget-msg-file {
		position: relative;
		padding: 0;
		max-width: initial;
		width: 200px;
		height: 60px;
		overflow: hidden;
		.container-icon-attachment {
			display: inline-block;
			width: 52px;
			height: 52px;
			text-align: center;
			float: left;
			background-color: rgb(58, 164, 221);
			border-radius: 2px;
			margin: 4px;
			color: #fff;
			&:before {
				font-size: 50px;
				line-height: 50px;
			}
		}
		.file-info {
			display: inline-block;
			overflow: hidden;
			float: left;
			width: 80px;
			margin: 10px;
			font-family: Arial, Helvetica, sans-serif;
			p {
				vertical-align: middle;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
				overflow: hidden;
				&.filename {
					color: rgb(0, 0, 0);
					font-size: 14px;
				}
				&.filesize {
					line-height: 20px;
					color: rgb(165, 165, 165);
					font-size: 12px;
				}
			}
		}
		.container-icon-download {
			color: rgb(165, 165, 165);
			display: inline-block;
			text-decoration: none;
			float: right;
			text-align: center;
			cursor: pointer;
			line-height: 20px;
			margin-top: 15px;
			margin-right: 10px;
			&:before {
				font-size: 20px;
			}
		}
	}
	// 菜单消息
	&.em-widget-msg-list {
		overflow: hidden;
		width: 13.5rem;
		padding: 0;
		> p {
			background-color: white;
		}
	}
}

.em-widget-msg-wrapper {
	position: relative;
	.em-widget-msg-loading {
		z-index: 1;
		position: absolute;
		left: -38px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 40px;
		height: 40px;
		overflow: hidden;
	}
	// 消息发送失败标志
	.em-widget-msg-status {
		position: absolute;
		width: 86px;
		height: 1.875rem;
		line-height: 1.875rem;
		left: -88px;
		margin: auto;
		top: 0;
		bottom: 0;
		cursor: pointer;
		>i {
			display: inline-block;
			width: 1.875rem;
			height: 1.875rem;
			position: relative;
			&:before {
				color: red;
			}
			i {
				position: absolute;
				top: 0;
				right: 0;
				&:before {
					color: white;
				}
			}
		}
		span {
			line-height: 1.875rem;
			vertical-align: top;
			display: inline-block;
			color: #999;
		}
	}
}

.em-widget-loading {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	animation: em-widget-loading-frame 1s linear infinite;
}

@keyframes em-widget-loading-frame {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}
