html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
i,
span,
em {
	margin: 0;
	padding: 0;
	text-size-adjust: none;
	appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: sans-serif, 'Microsoft YaHei', 'Arial';
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	// background-color: #00ADEF;
}

// benz patch
pre {
	font-family: Arial, PingFangSC-Regular;
}
html {
  font-size: 18px;
}
@media (max-width: 387px) {
  html { font-size: 16px; }
}
@media (max-width: 363px) {
  html { font-size: 15px; }
}
@media (max-width: 339px) {
  html { font-size: 14px; }
}
@media (max-width: 316px) {
  html { font-size: 13px; }
}
@media (max-width: 292px) {
  html { font-size: 12px; }
}
@media (max-width: 269px) {
  html { font-size: 11px; }
}
@media (max-width: 246px) {
  html { font-size: 10px; }
}

a {
	color: #009EEC;
}

ul,
li {
	list-style: none;
}

img {
	border: none;
}

button,
textarea,
input {
	outline: none;
}

body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.hide {
	display: none!important;
}

body.benz-article {
	height: auto;
	overflow-y: auto;
	background-color: white;
	padding: 1.25rem .9375rem;
	box-sizing: border-box;
	> h1 {
		font-size: 1.375rem;
		font-weight: normal;
	}
	> h2 {
		font-size: .875rem;
		color: #999;
		margin: .9375rem 0 1.875rem;

	}
	li {
		font-size: 1rem;
		list-style: decimal;
		margin: 1.875rem 0 1rem 1rem;
		font-weight: bolder;
	}
	img {
		width: 100%;
		display: block;
		margin: .9375rem 0;
	}
	p {
		font-size: 1rem;
		color: #666;
		margin: 1.25rem 0;
		line-height: 1.5rem;
		font-family: Arial;
	}

}
