#em-widgetPopBar {
	position: fixed;
}

.em-widget-pop-bar {
	display: block;
	color: white;
	width: 90px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	text-decoration: none;
	font-size: 13px;
	i {
		width: 30px;
		display: inline-block;
		vertical-align: middle;
	}
}

.em-widget-wrapper {
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background-color: #f4f7fa;
	border-radius: 6px;
}

.em-self-wrapper {
	position: relative;
	float: right;
	// width: 50%;
	height: 100%;
	overflow: hidden;
	background-color: #f4f7fa;
	// border-radius: 4px;
	box-sizing: border-box;
}

/*header*/
.em-widget-header {
	height: 60px;
	line-height: 60px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, .3) inset;
	cursor: default;
	position: relative;
	padding-left: 10px;
	color: white;
	.icon-mobile-close{
		margin-right: 15px;
	}
	.em-agent-face{
		width: 40px;
		height: 40px;
		float: left;
		margin-top: 10px;
		margin-right: 10px;
		border-radius: 50%;
	}
	.em-widget-header-nickname{
		font-size:14px;
	}
	.em-service-title{
		display: none;
	}

	.drag-bar {
		position: absolute;
		left: 40px;
		top: 0;
		right: 120px;
		width: auto;
		height: 100%;
	}

	.btn-close{
		float: right;
		&:hover {
			cursor: pointer;
		}
	}

	.btn-min {
		position: relative;
		float: right;
		margin: 10px;
		// margin-top:20px;
		// width: 21px;
		// height: 21px;
		width: 11px;
		border-radius: 4px;
		box-shadow: 0 1px 1px rgba(255, 255, 255, .3) inset;
		&:before {
			position: absolute;
			left: -5px;
			top: -4px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	.btn-keyboard {
		float: right;
		&:before {
			text-align: center;
		}
	}

	.btn-audio {
		float: right;
		margin-right: 15px;
		&:before {
			text-align: center;
		}
		&:hover {
			cursor: pointer;
		}
	}

	.status-bar {
		display: inline-block;

		.session-list-btn {
			position: relative;
			display: inline-block;
			cursor: pointer;
			width: 30px;
			height: 30px;
			.notice {
				position: absolute;
				color: red;
				top: -7px;
				right: -2px;
				font-size: 10px;
				&:before {
					font-size: 15px;
				}
	   		}
		}

		.em-agent-input-state {
			margin-left: 5px;
		}

		.em-header-status-text {
			// color: rgba(255, 255, 255, 0.5);
		}
	}
}
