@font-face {
	font-family: "easemobim";
	src: url('../../static/css/font/iconfont.eot?v=__WEBIM_PLUGIN_VERSION__');
	/* IE9*/
	src: url('../../static/css/font/iconfont.eot?v=__WEBIM_PLUGIN_VERSION__#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../static/css/font/iconfont.woff?v=__WEBIM_PLUGIN_VERSION__') format('woff'), /* chrome, firefox */
	url('../../static/css/font/iconfont.ttf?v=__WEBIM_PLUGIN_VERSION__') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../../static/css/font/iconfont.svg?v=__WEBIM_PLUGIN_VERSION__#easemobim') format('svg');
	/* iOS 4.1- */
}

@mixin icon-base {
	font-family: 'easemobim' !important;
	font-size: 30px;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	-webkit-text-stroke-width: 0.2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// 这个class仅仅是为了使用 @extend
// 使用 @extend 而非 @include 是为了优化生成后的css大小
.icon-base {
	@include icon-base;
}

.icon-camera:before {
	@extend .icon-base;
	content: "\63";
}

.icon-change:before {
	@extend .icon-base;
	content: "\64";
}

.icon-minimize:before {
	@extend .icon-base;
	content: "\65";
}

.icon-maximize:before {
	@extend .icon-base;
	content: "\66";
}

.icon-circle:before {
	@extend .icon-base;
	content: "\41";
}

.icon-exclamation:before {
	@extend .icon-base;
	content: "\42";
}

.icon-close:before {
	@extend .icon-base;
	content: "\43";
}

.icon-face:before {
	@extend .icon-base;
	content: "\44";
}

.icon-easemob:before {
	@extend .icon-base;
	content: "\45";
}

.icon-min:before {
	@extend .icon-base;
	content: "\46";
}

.icon-good:before {
	@extend .icon-base;
	content: "\47";
}

// fake: IE8 满意度评价会有兼容问题，需替换字符
.icon-star:before {
	@extend .icon-base;
	content: "\48";
}

.icon-broken-pic:before {
	@extend .icon-base;
	content: "\49";
}

.icon-corner-left:before {
	@extend .icon-base;
	content: "\4b";
}

.icon-corner-right:before {
	@extend .icon-base;
	content: "\4a";
}

.icon-picture:before {
	@extend .icon-base;
	content: "\4c";
}

.icon-M:before {
	@extend .icon-base;
	content: "\4d";
}

.icon-bell:before {
	@extend .icon-base;
	content: "\78";
}

.icon-slience:before {
	@extend .icon-base;
	content: "\58";
}

.icon-sound:before {
	@extend .icon-base;
	content: "\67";
}

.icon-keyboard-down:before {
	@extend .icon-base;
	content: "\4f";
}

.icon-keyboard-up:before {
	@extend .icon-base;
	content: "\4e";
}

.icon-qianbao:before {
	@extend .icon-base;
	content: "\e600";
}

.icon-1010101:before {
	@extend .icon-base;
	content: "\e601";
}

.icon-10103:before {
	@extend .icon-base;
	content: "\e602";
}

.icon-file-download:before {
	@extend .icon-base;
	content: "\e603";
}

.icon-10105:before {
	@extend .icon-base;
	content: "\e604";
}

.icon-r:before {
	@extend .icon-base;
	content: "\72";
}

.icon-q:before {
	@extend .icon-base;
	content: "\71";
}

.icon-p:before {
	@extend .icon-base;
	content: "\70";
}

.icon-answer:before {
	@extend .icon-base;
	content: "\61";
}

.icon-decline:before {
	@extend .icon-base;
	content: "\62";
}

.icon-note:before {
	@extend .icon-base;
	content: "\31";
}

.icon-headset:before {
	@extend .icon-base;
	content: "\79";
}

.icon-video:before {
	@extend .icon-base;
	content: "\74";
}

.icon-flower:before {
	@extend .icon-base;
	content: "\68";
}

.icon-attachment:before {
	@extend .icon-base;
	content: "\76"
}

.icon-download:before {
	@extend .icon-base;
	content: "\75"
}

.icon-list:before {
	@extend .icon-base;
	content: "\7a"
}

.icon-message:before {
	@extend .icon-base;
	content: "\7b"
}

.icon-arrow-up-down:before {
	@extend .icon-base;
	content: "\32"
}

.icon-arrow-right:before {
	@extend .icon-base;
	content: "\69"
}

