@font-face {
	font-family: "easemobim";
	src: url('font/iconfont.eot?v=<%=WEBIM_PLUGIN_VERSION%>'); /* IE9*/
	src: url('font/iconfont.eot?v=<%=WEBIM_PLUGIN_VERSION%>#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('font/iconfont.woff?v=<%=WEBIM_PLUGIN_VERSION%>') format('woff'), /* chrome, firefox */
	url('font/iconfont.ttf?v=<%=WEBIM_PLUGIN_VERSION%>') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('font/iconfont.svg?v=<%=WEBIM_PLUGIN_VERSION%>#easemobim') format('svg'); /* iOS 4.1- */
}

.icon-camera:before { content: "\63"; }
.icon-change:before { content: "\64"; }
.icon-minimize:before { content: "\65"; }
.icon-maximize:before { content: "\66"; }
.icon-circle:before { content: "\41"; }
.icon-exclamation:before { content: "\42"; }
.icon-close:before { content: "\43"; }
.icon-face:before { content: "\44"; }
.icon-easemob:before { content: "\45"; }
.icon-min:before { content: "\46"; }
.icon-good:before { content: "\47"; }
// fake: IE8 满意度评价会有兼容问题，需替换字符
.icon-star:before { content: "\48"; }
.icon-broken-pic:before { content: "\49"; }
.icon-corner-left:before { content: "\4b"; }
.icon-corner-right:before { content: "\4a"; }
.icon-picture:before { content: "\4c"; }
.icon-M:before { content: "\4d"; }
.icon-bell:before { content: "\78"; }
.icon-slience:before { content: "\58"; }
.icon-sound:before { content: "\67"; }
.icon-keyboard-down:before { content: "\4f"; }
.icon-keyboard-up:before { content: "\4e"; }
.icon-qianbao:before { content: "\e600"; }
.icon-1010101:before { content: "\e601"; }
.icon-10103:before { content: "\e602"; }
.icon-file-download:before { content: "\e603"; }
.icon-10105:before { content: "\e604"; }
.icon-r:before { content: "\72"; }
.icon-q:before { content: "\71"; }
.icon-p:before { content: "\70"; }
.icon-answer:before { content: "\61"; }
.icon-decline:before { content: "\62"; }
.icon-note:before { content: "\31"; }
.icon-video:before { content: "\74"; }
.icon-flower:before { content: "\68"; }
.icon-attachment:before { content: "\76"}
.icon-download:before { content: "\75"}


.icon-camera:before,
.icon-change:before,
.icon-minimize:before,
.icon-maximize:before,
.icon-circle:before,
.icon-exclamation:before,
.icon-close:before,
.icon-face:before,
.icon-easemob:before,
.icon-min:before,
.icon-good:before,
.icon-star:before,
.icon-broken-pic:before,
.icon-corner-left:before,
.icon-corner-right:before,
.icon-picture:before,
.icon-M:before,
.icon-bell:before,
.icon-slience:before,
.icon-sound:before,
.icon-keyboard-down:before,
.icon-keyboard-up:before,
.icon-qianbao:before,
.icon-1010101:before,
.icon-10103:before,
.icon-file-download:before,
.icon-10105:before,
.icon-r:before,
.icon-q:before,
.icon-p:before,
.icon-answer:before,
.icon-decline:before,
.icon-note:before,
.icon-video:before,
.icon-flower:before,
.icon-attachment:before,
.icon-download:before,

.em-widget-agent-status.leave:after,
.em-widget-agent-status.busy:after,
.em-widget-agent-status.hidden:after,
.em-just-for-block-class-name {
	font-family: 'easemobim' !important;
	font-size: 30px;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	-webkit-text-stroke-width: 0.2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
