.em-mobile {
	border-radius: 0;
	.em-widget-header-nickname,
	.em-header-status-text,
	{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 55%;
	}
	.chat-wrapper {
		bottom: 77px;
	}
	.em-widget-tip span {
		font-size: 14px;
	}
	.em-widget-header {
		font-size: 16px;
		border-radius: 0;
		box-shadow: none;
	}
	.em-btn-list button {
		font-size: 17px;
		line-height: 30px;
		box-shadow: none;
	}
	.em-widget-msg-container {
		font-size: 17px;
		padding: 8px 10px;
		&.em-widget-msg-file,
		&.em-widget-msg-html-form {
			padding: 0;
		}
	}
	.emoji-panel {
		width: 100%;
		left: 0;
		border-radius: 0;
		padding: 0;
		bottom: 44px;
		.emoji-container {
			.line-container {
				.emoji-bg {
					width: 10%;
					margin: 0;
					padding: 0;
					&:hover {
						background-color: unset;
					}
					.emoji {
						margin: 8px 0;
					}
				}
			}
			&.magic {
				.emoji-bg {
					width: 16.5%;
				}
			}
		}
		.navigator-wrapper {
			width: 100%;
		}
	}
	.em-widget-send-wrapper {
		position: absolute;
		height: auto;
		padding: 3px 86px 3px 0;
		box-sizing: border-box;
		background-color: white;
		box-shadow: 0 -1px 0 #e5e5e5;
		.em-widget-textarea {
			height: 34px;
			max-height: 88px;
			bottom: 0;
			margin: 4px 0 1px 6px;
			border-radius: 4px;
			padding: 9px;
			padding-right: 36px;
			overflow: hidden;
			user-select: text!important;
			line-height: 17px;
			font-size: 17px;
			color: #1a1a1a;
			box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset;
		}
		.em-widget-send {
			width: 64px;
			right: 8px;
			top: auto;
			bottom: 8px;
			height: 33px;
			line-height: 33px;
			font-size: 15px;
		}
	}

	.em-dialog {
		> div.footer button {
			height: 40px;
			line-height: 40px;
			font-size: 16px;
		}
		&.satisfaction {
			.title{
				font-size: 17px;
			}
			textarea {
				font-size: 16px;
			}
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			margin: 0;
			border-radius: 0;
			font-size: 15px;
		}
	}
	.em-widget-error-prompt {
		font-size: 15px;
	}
}

@media (-webkit-min-device-pixel-ratio: 2) {}
