.em-mobile {
	border-radius: 0;
	.em-widgetHeader-nickname,
	.em-header-status-text,
	{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 55%;
	}
	.em-widgetBody-wrapper {
		bottom: 77px;
	}
	.em-widget-tip span {
		font-size: 14px;
	}
	.em-widgetHeader-wrapper {
		font-size: 16px;
		border-radius: 0;
		box-shadow: none;
	}
	.icon-corner-left,
	.icon-corner-right {
		top: .25rem;
	}
	.em-widgetHeader {
		font-size: 17px;
		border-radius: 0;
		box-shadow: none;
	}
	.em-widget-list-btn {
		font-size: .875rem;
		line-height: 1.75rem;
		box-shadow: none;
	}
	.em-widget-msg-container {
		font-size: .9375rem;
		padding: 8px 10px;
		&.em-widget-msg-file {
			padding: 0;
		}
	}
	.em-bar-emoji-wrapper {
		width: 100%;
		left: 0;
		border-radius: 0;
		padding-left: 0;
		bottom: 84px;
		.em-bar-emoji-bg {
			width: 14.2%;
			margin: 0;
			.emoji {
				margin: 8px 0;
			}
		}
	}
	.em-widgetHeader-keyboard {
		position: absolute;
		right: 9px;
		top: 11px;
		width: 21px;
		height: 21px;
		border-radius: 4px;
		text-decoration: none;
		&:before {
			position: absolute;
			left: -5px;
			top: -4px;
			text-align: center;
			color: white;
		}
	}
	.em-widget-send-wrapper {
		position: absolute;
		height: auto;
		padding: 0 .75rem;
		box-sizing: border-box;
		.em-widget-textarea {
			display: block;
			height: 2.25rem;
			max-height: 88px;
			border-radius: .125rem;
			padding: .5rem;
			overflow: hidden;
			user-select: text!important;
			line-height: 17px;
			font-size: .875rem;
			color: #1a1a1a;
		}
	}
	.em-widget-send-disable:after {
		height: 78px;
	}
	.em-widget-send {
		width: 25%;
		position: static;
		float: right;
	}
	.em-widget-satisfaction-dialog {
		z-index: 3;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		border-radius: 0;
		font-size: 15px;
		h3,
		button,
		textarea {
			font-size: 15px;
		}
		button {
			height: 32px;
			line-height: 32px;
		}
	}
	.em-widget-error-prompt {
		font-size: 15px;
	}
	.em-header-status-text-queue-number {
		bottom: 77px;
	}
}

@media (-webkit-min-device-pixel-ratio: 2) {}
