.em-mobile {
	border-radius: 0;
	.em-video-container{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 99999;
		.full-video-box{
			width: 100%;
			height: 100%;
			position:relative;
			background:#000;
			video{
				max-width: 100%;
				height: 90%;
				position: absolute;
				top: 5%;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.video-container-close{
			width: 2.375rem;
    		height: 2.375rem;
    		line-height: 2.375rem;
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 1;
			.icon-close{
				color:#fff;
				&:before{
					font-size:2.8rem;
				}
			}
		}
	}
	.em-widget-box{
		width: 100%;
		height: 100%; 
	}
	&.big-window{
		.em-widget-wrapper,
		.em-widget-send-wrapper{
			width: 100%;
		}
	}
	
	.em-widget-wrapper,
	.em-self-wrapper,
	.em-widget-send-wrapper{
		width: 100%;
	}
	.em-self-wrapper,
	.em-widget-wrapper{
		position: absolute;
	}
	.em-self-wrapper {
		top: 0;
		bottom: 80px;
		height: calc(100% - 80px);
	}
	.em-widget-header-nickname,
	.em-header-status-text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 55%;
	}
	.em-widget-header-nickname{
		font-size:1.2rem;
	}
	.chat-wrapper {
		bottom: 77px;
		// bottom: 100px !important;
		border-right: none;
	}
	.chat-pop{
		height: 75%;
		width: 100%;
		background-color: #fff;
		position: relative;
		top: 30%;
		z-index: 999;
		border-radius: 10px;
		iframe{
			width: 100%;
			height: 100%;
		}
		>i{
			float: right;
		}
	}
	.em-widget-tip span {
		font-size: 1rem;
	}
	.em-widget-risk-warning .content{
		font-size: 1rem;
	}
	.em-widget-header {
		height: 40px;
    	line-height: 40px;
		font-size: 1.1rem;
		border-radius: 0;
		box-shadow: none;
		.em-agent-face{
			width: 30px;
			height: 30px;
			display:none;
		}
	}
	.em-widget-content-box{
		top: 40px;
	}
	
	.em-btn-list button {
		font-size: 1.2rem;
		line-height: 26px;
		box-shadow: none;
	}
	.em-widget-msg-container { 
		font-size: 1.2rem;
		padding: 8px;
		.list-title{
			font-size:1.2rem;
		}
		&.em-widget-msg-file,
		&.em-widget-msg-html-form {
			padding: 0;
		}
		&.em-widget-msg-list{
			width: 100%;
			box-sizing: border-box;
			padding:0;
		}
		&.em-widget-msg-video{ 
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			font-size: 2.5rem; //很奇怪，设置字体越小，video盒子有灰边
			position:relative;
			.video-btn{
				width:100%;
				height:100%;
				z-index:-1;
			}
			.video-btn-android{
				width:160px;
				height:auto;
			}
			.video-button{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				background:#fff;
				opacity: 0.2;
			}
			.icon-play-box{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 98%;
				border-radius: 8px 0 8px 8px;
				background: rgba(0,0,0,.3);
				display: flex;
				align-items: center;
				justify-content: space-around;
				i{
					color:#fff;
					&:before{
						font-size: 3.375rem;
					}
				}
			}
			
		}
	}
	.emoji-panel {
		width: 100%;
		left: 0;
		border-radius: 0;
		padding: 0;
		bottom: 44px;
		.emoji-container {
			.line-container {
				.emoji-bg {
					width: 10%;
					margin: 0;
					padding: 0;
					&:hover {
						background-color: unset;
					}
					.emoji {
						margin: 8px 0;
					}
				}
			}
			&.magic {
				.emoji-bg {
					width: 16.5%;
				}
			}
		}
		.navigator-wrapper {
			width: 100%;
		}
	}
	.em-widget-send-wrapper-top{
		top: -40px !important;
		.swiper-wrapper{
			height: 31px;
			.swiper-slide{
				border-radius: 16px;
				padding: 2px 12px !important;
			}
		}
	}
	.em-widget-send-wrapper {
		position: absolute;
		height: auto;
		// padding: 6px 0px 15px 0;
		padding: 0px 0px 15px 0;
		padding-bottom: unquote('max(3px, env(safe-area-inset-bottom))');//iOS 底下圆弧的高度
		box-sizing: border-box;
		background-color: #fbfbfb;
		border-right: none;
		.queuing-number-status{
			font-size:1.2rem;
		}
		.toolbar-pc{
			display:none;
		}
		.toolbar-mobile{ 
			height: 205px;
			padding: 0 5px;
			.swiper-pagination{
				height: 5%;
				width: 100%;
				>span{
					outline: none;
				}
			}
			.swiper-wrapper{
				height: 95%;
				// height: 205px;
				.swiper-slide{
					>div{
						width:24%;
						text-align: center;
						display: inline-block;
						margin-bottom:10px;
						margin-top:10px;
						font-size:1rem;
						color: #4e4e4e;
						>span{
							display:block;
							color: #999;
							margin-top: 5px;
							font-size:12px;

							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
						> i {
							position: relative;
							&:hover {
								cursor: pointer;
							}
							&:before{
								font-size:25px;
							}
						}
						.btn-container{
							width: 50px;
							height: 50px;
							display: flex;
							align-items: center;
							justify-content: space-around;
							background: #fff;
							margin: 0 auto;
							border-radius: 4px;
							>img{
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
		.input-box{
			position:relative;
			width:100%;
			display:flex;
			align-items:center;
			// height: 40px;
			.em-bar-emoji{
				position: absolute;
				right: 40px;
				top:3px;
				&:before{
					font-size:35px;
				}
			}
		}
		.em-widget-to-kefu{
			width:40px;
			margin-left:5px;
			text-align: center;
			position: relative;
    		top: -10px;
			span{
				display:block;
				font-size:12px;
				margin-top: -6px;
			}
		}
		.em-widget-textarea {
			max-width:calc(100% - 45px);
			height: 36px;
			max-height: 88px;
			margin: 0px 0 15px 8px;
			border-radius: 16px;
			padding: 9px;
			padding-right: 36px;
			overflow: hidden;
			user-select: text!important;
			line-height: 18px;
			font-size: 1.15rem;
			color: #1a1a1a;
			background: #fff;
			// box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset;
		}
		.em-widget-send {
			position:absolute;
			width: 64px;
			right: 5px;
			top: 3px;
			bottom: 8px;
			height: 33px;
			line-height: 33px;
			font-size: 1.15rem;
			&.disabled{
				display:none;
			}
		}
		.em-widget-add{
			width:36px;
			text-align:center;
			position:absolute;
			top:3px;
			right:0px;
			i:before{
				font-size:35px;
			}
		}
	}

	.em-dialog {
		> div.footer button {
			height: 40px;
			line-height: 40px;
			font-size: 1.1rem;
		}
		&.satisfaction {
			.title{
				font-size: 1.2rem;
			}
			textarea {
				font-size: 1.1rem;
			}
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			margin: 0;
			border-radius: 0;
			font-size: 1rem;
			overflow-y:auto;
		}
	}
	.em-widget-error-prompt {
		font-size: 1rem;
	}
	.self-service-list{
		span{
			font-size:1rem;
		}
	}
	.faq-list{
		>p{
			font-size:1.2rem;
		}
		.question{
			font-size:1.1rem;
		}
		.answer{
			font-size:1rem;
		}
	}
	.contact-customer-service{
		font-size:1.1rem;
		margin: 0 10px 30px 10px;
	}
	.ticket{
		.wrapper{
			h3{
				font-size:1.2rem;
			}
		}
	}
}
/* 图片展示控件 */
.img-view {
	.cover-floor{
		opacity: 0.8;
	}
}
.em-widget-left{
	.em-widget-msg-wrapper{
		left: 10px;
	}
}

@media (-webkit-min-device-pixel-ratio: 2) {}
