@font-face {
  font-family: "easemobim"; /* Project id 2638206 */
  src: url('../font/newfont/iconfont.woff2') format('woff2'),
  url('../font/newfont/iconfont.woff') format('woff'),
  url('../font/newfont/iconfont.ttf') format('truetype')
}

@mixin icon-base {
  font-family: "easemobim" !important;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 这个class仅仅是为了使用 @extend
// 使用 @extend 而非 @include 是为了优化生成后的css大小
.icon-base {
  @include icon-base;
}

.icon-fangda:before {
  @extend .icon-base;
  content: "\e60f";
}

.icon-suoxiao:before {
  @extend .icon-base;
  content: "\e615";
}
