.self-service-list{
	text-align: center;
	margin-top: 1em;
	>a{
		display: inline-block;
		margin: 2% 0;
		width: 23%;
		text-decoration: none;
		img {
			width: 60%;
			max-width: 65px;
		}
		>span{
			display: block;
			color: #1a1a1a;
			text-align: center;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
.faq-iframe {
	position: relative;
	height: 100%;
	width: 100%;
}
.faq-list{
	>p{
		font-weight: 500;
		line-height: 24px;
		background: #f5f5f5;
		padding: 0.5em 1em;
		margin-bottom: 1em;
	}
	.faq-item{
		margin-bottom: 1em;
		cursor: pointer;
		word-break:break-all;
		>p{
			border: 1px solid #e5e5e5;
			line-height: 24px;
			padding: 0.5em 1em;
			margin: 0 1em;
			background: #fff;
		}
		.question{
			font-weight: 400;
		}
		.answer {
			border-top: none;
			padding: 0.5em 2em;
			overflow-x: auto;
		}
		&.hide-answer{
			.answer{
				display: none;
			}
		}
	}
}

.contact-customer-service{
	width: 80%;
	margin: 0 10% 1em;
	position: fixed;
	padding: 10px 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
}
