.self-service-list{
	// text-align: center;
	padding:0 8px;
	margin-top: 1em;
	margin-bottom:10px;
	>a{
		display: inline-block;
		margin: 2% 0;
		width: 23.5%;
		text-decoration: none;
		text-align: center;
		img {
			width: 40%;
			max-width: 65px;
		}
		>span{
			display: block;
			color: #65758C;
			text-align: center;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			font-size:12px;
			line-height: 14px;
		}
	}
}
.faq-iframe {
	position: relative;
	height: 100%;
	width: 100%;
}
.faq-list{
	margin-top:20px;
	padding: 0 10px;
	
	.faq-list-content{
		padding: 0 0.5em;
	}
	>p{
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
		margin-bottom: 0.5em;
		position: relative;
		font-size: 14px;
		background: rgba(243,243,243,0.3);
		color:#65758c;
	}
	.gray-line{
		width:50%;
		height:1px;
		margin-left: 5px;
		display: inline-block;
		border-bottom:1px dashed #999;
		position:absolute;
		top: 50%;
	}
	.faq-item{
		cursor: pointer;
		word-break:break-all;
		text-align: justify;
		margin-bottom: 5px;
		>p{
			line-height: 32px;
			background: #fff;
		}
		.question{
			color: #65758c;
			font-size: 13px;
			
			.icon-arrow-right{
				transform: rotate(90deg);
				display: inline-block;
				&:before{
					font-size:20px;
				}
			}
		}
		.answer {
			border-top: none;
			overflow-x: auto;
			color: #65758C;
			margin-top: 3px;
			opacity: 0.8;
			background: rgba(243,243,243,0.3);
			padding: 10px;
			line-height: 22px;
			font-size: 13px;
		}
		&.hide-answer{
			.answer{
				display: none;
			}
			.icon-arrow-right{
				transform: rotate(0deg);
			}
		}
	}
}

.contact-customer-service{
	// width: 80%;
	margin: 0 10% 1em;
	position: fixed;
	padding: 10px 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
}
