.self-service-list{
	// text-align: center;
	padding:0 8px;
	margin-top: 1em;
	margin-bottom:10px;
	>a{
		display: inline-block;
		margin: 2% 0;
		width: 23.5%;
		text-decoration: none;
		text-align: center;
		img {
			width: 40%;
			max-width: 65px;
		}
		>span{
			display: block;
			color: #4a4a4a;
			text-align: center;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			font-size:12px;
		}
	}
}
.faq-iframe {
	position: relative;
	height: 100%;
	width: 100%;
}
.faq-list{
	margin-top:20px;
	.faq-list-content{
		padding: 0 0.5em;
	}
	>p{
		// font-weight: 500;
		line-height: 24px;
		padding: 0.5em 1.5em;
		margin-bottom: 0.5em;
		position: relative;
		font-size: 14px;
	}
	.gray-line{
		width:50%;
		height:1px;
		margin-left: 5px;
		display: inline-block;
		border-bottom:1px dashed #999;
		position:absolute;
		top: 50%;
	}
	.faq-item{
		cursor: pointer;
		word-break:break-all;
		text-align: justify;
		margin-bottom: 5px;
		>p{
			line-height: 24px;
			// padding: 0.5em 0;
			margin: 0 1em;
			background: #fff;
		}
		.question{
			color:#101010;
			// font-weight: 500;
		}
		.answer {
			border-top: none;
			// padding: 0.5em 0;
			overflow-x: auto;
			color:#666;
			margin-top: 3px;
			   text-indent: 2em;
			   line-height:20px;
		}
		&.hide-answer{
			.answer{
				display: none;
			}
		}
	}
}

.contact-customer-service{
	width: 80%;
	margin: 0 10% 1em;
	position: fixed;
	padding: 10px 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
}
