.em-widget-send-wrapper {
	z-index: 20;
	position: fixed;
	height: 140px;
	width: 100%;
	bottom: 0;
	background-color: #e6e6e6;
	-webkit-backface-visibility: hidden;
	// 工具栏按钮
	.toolbar {
		margin: .4375rem 0;
		// 去掉inline-block 元素间空白
		font-size: 0;
		i {
			display: inline-block;
			width: 25%;
			color: #4d4d4d;
			text-align: center;
			&:hover {
				cursor: pointer;
			}
			&:before {
				font-size: 1.25rem;
			}
		}
		.em-widget-send {
			font-size: initial;
		}
	}
	// 输入框
	.em-widget-textarea {
		width: 100%;
		height: 70px;
		border: none;
		padding: .5rem;
		box-sizing: border-box;
		font-size: 13px;
		resize: none;
	}
}

.em-widget-send-disable:after {
	z-index: 1;
	content: ' ';
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 140px;
	opacity: .7;
	background: #fff;
	background: rgba(255, 255, 255, .7);
}

.em-widget-send {
	border-radius: 2px;
	height: 1.875rem;
	text-align: center;
	line-height: 1.875rem;
	color: white;
	cursor: pointer;
	&.disabled {
		background-color: #ccc!important;
		cursor: default;
	}
}

.upload-file-container,
.upload-img-container {
	position: absolute;
	left: -9999px;
}