.em-widget-send-wrapper {
	position: fixed;
	height: 140px;
	width: 100%;
	bottom: 0;
	background-color: white;
	-webkit-backface-visibility: hidden;

	.queuing-number-status {
		width: 100%;
		height: 26px;
		font-size: 12px;
		line-height: 26px;
		padding: 0 8px;
		position: absolute;
		box-sizing: border-box;
		top: -26px;
		color: rgb(76, 76, 76);
		background-color: rgba(223, 233, 252, .7);
	}

	// 工具栏
	.toolbar {
		padding: 0 5px;
		> i {
			float: left;
			top: 5px;
			left: 5px;
			position: relative;
			color: #4d4d4d;
			&:hover {
				cursor: pointer;
			}
		}
	}

	// 文本输入框
	.em-widget-textarea {
		width: 100%;
		height: 70px;
		border: none;
		padding: 10px;
		box-sizing: border-box;
		font-size: 13px;
		resize: none;
	}

	// 发送按钮
	.em-widget-send {
		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 100px;
		border-radius: 4px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		color: white;
		cursor: pointer;
		&.disabled {
			background-color: #ccc!important;
			cursor: default;
		}
	}

	// 文件输入
	.upload-file-container,
	.upload-img-container,
	.upload-video-container {
		position: absolute;
		left: -9999px;
	}
}
